<div class="md-select-alter-photo">
    <div class="row align-items-center">
        <div class="col-12 col-md-7">
            <ul class="md-button-list">
                <li class="md-button-item active" data-item=".md-select-photo-item-1">
                    With pre-installed popular Amazon apps, effortlessly access your purchased content, order history, lists, shipping updates and more. Plus, shop a personalized selection of daily deals right from the home screen with pre-installed Amazon Widget.
                </li>
                <li class="md-button-item" data-item=".md-select-photo-item-2">
                    Your Prime membership benefits are available in an instant, thanks to a single sign-on experience. Get seamless access to thousands of movies and TV shows with Prime Video, over two million songs with Prime Music, and much more.
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-5">
            <div class="md-select-photos">
                <img src="arquivos/motog5plus-prime-featexUI-amazonfeats-1-d-us.png" alt="" class="md-select-photo-item-1 img-fluid">
                <img src="arquivos/motog5plus-prime-featexUI-amazonfeats-2-d-us.png" alt="" class="md-select-photo-item-2 img-fluid" style="display: none;">
            </div>
        </div>
    </div>
</div>