<div id="motorola-description" style="color: rgb(255, 255, 255);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 2vh 25px; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    get projected speeds 10 times faster than today’s wireless technology*
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    Claim a part of history with the first ever use of Millimeter Wave
                    technology for a smartphone.
                    <a class="family-hero-cta" href="https://www.qualcomm.com/invention/5g"
                        style="text-decoration: underline;text-decoration;color: white;"
                        target="_blank"><strong>Qualcomm® 5G</strong></a>
                    and a first-of-its-kind antenna array connect you to a network
                    designed for pure speed.<sup>**</sup> Think more devices, more data,
                    and more people—connecting faster than ever.
                </p>
            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0131.png" alt="" class="md-block-info-img img-fluid d-block m-auto" />
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 2vh 25px; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    download an entire 4K movie in seconds*
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    The <strong>5G moto mod</strong> connects you with greater bandwidth
                    than ever before. Have more fun. Get more done. Imagine the
                    possibilities with the fastest wireless network ever.
                </p>
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="padding: 11vh 25px; background: rgb(0, 0, 0); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);"></p>
            <button class="md-block-movie-play-btn">
                <img src="/arquivos/icon_circleplay_100@2xvermelho.png" alt="Play" width="100" height="100"
                    class="md-block-movie-play-img" />
            </button>
        </div>
        <img src="/arquivos/pic-1-0132.jpg" alt="" class="md-movie-bg" style="width: 100%;" />
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="qa5D7e2jNuE"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 2vh; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    play cloud-based games without the wait
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    With reduced lag time on the 5G network, you never miss a moment.
                    Websites load instantly. Apps run seamlessly.
                </p>
            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0133.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto" />
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 2vh; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    enjoy a smooth, responsive experience with augmented and virtual
                    reality
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    Snap <strong>moto 5G</strong> on your
                    <strong>moto z<sup>3</sup></strong> for dramatically lower latency,
                    and unlock completely new possibilities on a network that keeps up
                    with you.
                </p>
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-1"
        style="padding: 11vh 25px; background: rgb(0, 0, 0); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);"></p>
            <button class="md-block-movie-play-btn">
                <img src="/arquivos/icon_circleplay_100@2xvermelho.png" alt="Play" width="100" height="100"
                    class="md-block-movie-play-img" />
            </button>
        </div>
        <img src="/arquivos/pic-1-0134.jpg" alt="" class="md-movie-bg" style="width: 100%;" />
        <div class="md-block-movie-player" id="player-1" style="display: none;" data-youtube="fbna0O6EDYA"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 2vh; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    connect all your devices without compromising speed
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    Use <strong>moto z<sup>3</sup></strong> with
                    <strong>moto 5G</strong> as a blazing fast Wi-Fi hotspot for friends
                    or co-workers.<sup>‡</sup> Or, use a compatible USB 3.1 cable
                    (included) to tether directly to your laptop, supercharging
                    productivity with 5G speed.<sup>*</sup>
                </p>
            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0135.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto" />
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 2vh; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    don’t stress about draining your phone’s power
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    The <strong>moto mod</strong> powers 5G speed on your phone with a
                    built-in 2000 mAh battery. Plus, it has its own USB-C port for
                    charging.
                </p>
            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0136.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto" />
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 2vh; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">
                    turn your <span style="color:#E1140A">moto z</span> into a 5G phone
                </h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">
                    It’s seamless. Simply snap <strong>moto 5G</strong> on your
                    <strong>moto z<sup>3</sup></strong> to connect to Verizon’s 5G
                    network, or detach to instantly return to 4G LTE. Plus, with backwards
                    compatibility you will soon be able to turn yesterday’s
                    <strong>moto z</strong> into a 5G phone.<sup>‡</sup><br /><br /><br /><a
                        class="cta-library-wrap Custom-rounded-76632-40742"
                        href="https://www.motorola.com/us/products/moto-z-gen-3 " target="_self"><span
                            style="border: 1px solid #FFFFFF; background-color: rgba(0,0,0,1.0); border-radius: 25px; padding: 12px 25px; font-weight: 500 !important; color: #FFFFFF;">Get
                            moto z³</span></a>
                </p>
            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0137.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto" />
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;"></div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(0, 0, 0);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;">
                        <img src="/arquivos/icon-081.png" alt="" class="mb-1 d-block" width="50" height="50" />
                    </div>
                    <div class="md-specification-border">
                        <h4>Fuel your future</h4>
                        <p>
                            Simply snap <strong>moto 5G</strong> onto your
                            <strong>moto z³</strong> to be the first to access the Verizon 5G
                            network.<sup>†</sup> Soon, you will even be able to turn
                            yesterday’s <strong>moto z</strong> into a 5G phone.<sup>‡</sup>
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;">
                        <img src="/arquivos/icon-082.png" alt="" class="mb-1 d-block" width="50" height="50" />
                    </div>
                    <div class="md-specification-border">
                        <h4>Only on Verizon</h4>
                        <p>Take the best coverage in the nation to a whole new level.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;">
                        <img src="/arquivos/icon-083.png" alt="" class="mb-1 d-block" width="50" height="50" />
                    </div>
                    <div class="md-specification-border">
                        <h4>Faster than ever before</h4>
                        <p>
                            5G transfers data a projected 10 times faster than today’s
                            wireless technology, so your favorite content is only seconds
                            away.*
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;">
                        <img src="/arquivos/icon-084.png" alt="" class="mb-1 d-block" width="50" height="50" />
                    </div>
                    <div class="md-specification-border">
                        <h4>Goodbye, lag time</h4>
                        <p>
                            Websites load instantaneously. Graphics-heavy apps run
                            seamlessly.*
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;">
                        <img src="/arquivos/icon-085.png" alt="" class="mb-1 d-block" width="50" height="50" />
                    </div>
                    <div class="md-specification-border">
                        <h4>Bandwidth to share</h4>
                        <p>
                            Your phone’s WiFi hotspot gets a lightning fast boost when you
                            snap on the <strong>5G moto mod</strong>.<sup>†</sup>
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;">
                        <img src="/arquivos/icon-086.png" alt="" class="mb-1 d-block" width="50" height="50" />
                    </div>
                    <div class="md-specification-border">
                        <h4>Built-in battery</h4>
                        <p>
                            Don’t slow down while your data revs up. The
                            <strong>5G moto mod</strong> is powered by a 2000 mAh battery.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>