<div id="motorola-description" style="color: rgb(255, 255, 255);">
    <div class="md-item md-cards-2" description-version="1.1" style="background: rgb(105, 194, 70);">
        <h2 class="md-h2 text-center" style="color: rgb(255, 255, 255);">
            just ask, wherever you are
        </h2>
        <p class="md-p text-center" style="color: rgb(255, 255, 255);">
            Alexa is as mobile as your phone.&nbsp;Use it wherever <br />you have 4G
            or Wi-Fi.<sup>‡</sup>&nbsp;<a href="https://mobilesupport.lenovo.com/us/en/solution/MS124835"
                target="_blank" style="color:#FFFFFF;"><strong><u>See all Alexa skills</u></strong></a>
        </p>

        <div class="md-columns-cards-box row">
            <div class="md-card-item col-12 col-sm-4 col-md-3 mb-4 mb-sm-0">
                <div class="md-card-details">
                    <h4 class=" text-center">ask + answer</h4>
                    <img src="/arquivos/icon-077.svg" alt="" class="img-fluid" width="80" />
                    <p class=" text-center">
                        Alexa searches the web to answer your burning questions—fast.
                    </p>
                </div>
            </div>
            <div class="md-card-item col-12 col-sm-4 col-md-3 mb-4 mb-sm-0">
                <div class="md-card-details">
                    <h4 class=" text-center">music + books</h4>
                    <img src="/arquivos/icon-078.svg" alt="" class="img-fluid" width="80" />
                    <p class=" text-center">
                        Play music and listen to audiobooks with hands-free voice control.
                    </p>
                </div>
            </div>
            <div class="md-card-item col-12 col-sm-4 col-md-3 mb-4 mb-sm-0">
                <div class="md-card-details">
                    <h4 class=" text-center">smart home + skills</h4>
                    <img src="/arquivos/icon-079.svg" alt="" class="img-fluid" width="80" />
                    <p class=" text-center">
                        Connect and control your favorite apps and smart home devices,
                        hands-free.
                    </p>
                </div>
            </div>
            <div class="md-card-item col-12 col-sm-4 col-md-3 mb-4 mb-sm-0">
                <div class="md-card-details">
                    <h4 class=" text-center">news + search</h4>
                    <img src="/arquivos/icon-080.svg" alt="" class="img-fluid" width="80" />
                    <p class=" text-center">
                        Check your calendar, manage your to-do list, get the weather
                        forecast, skim headlines, and more.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-cards-3" description-version="1.1" style="background: rgb(239, 242, 244);">
        <div class="container">
            <h2 class="md-h2" style="color: rgb(0, 0, 0);">
                meet our smartest, loudest speaker yet
            </h2>
            <p class="md-p" style="color: rgb(0, 0, 0);"></p>

            <div class="md-columns-cards-box row">
                <div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0">
                    <img src="/arquivos/pic-1-0122.jpg" alt="" class="img-fluid" />
                    <div class="md-card-details" style="background: #69c246">
                        <h4 style="color: #fff">smart stereo</h4>
                        <p style="color: #fff">
                            With dual speakers cranking out crisp, clear stereo sound, it’s
                            our most powerful boombox <strong>moto mod</strong> yet. And with
                            Amazon Alexa built in, it’s our smartest, too. Whether you’re
                            across the room or on the go,<sup>‡</sup> four powerful
                            microphones ensure that Alexa always hears you.<sup>§</sup>
                        </p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0">
                    <img src="/arquivos/pic-1-0123.jpg" alt="" class="img-fluid" />
                    <div class="md-card-details" style="background: #69c246">
                        <h4 style="color: #fff">docked and loaded</h4>
                        <p style="color: #fff">
                            With a low-profile dockable design and no set-up required, this
                            <strong>moto mod</strong> slips seamlessly into the fabric of your
                            life. Just snap it on and Alexa connects to your phone’s 4G or
                            Wi-Fi network instantly. Perfect for your nightstand at home, or
                            wherever you roam.
                        </p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0">
                    <img src="/arquivos/pic-1-0124.jpg" alt="" class="img-fluid" />
                    <div class="md-card-details" style="background: #69c246">
                        <h4 style="color: #fff">power your journey</h4>
                        <p style="color: #fff">
                            Use Alexa to your heart’s content without draining your phone’s
                            power. The built-in battery lasts up to 15 hours.* Plus, you can
                            recharge your phone and moto smart speaker with Amazon Alexa at
                            the same time. Just plug in the speaker and dock your phone.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="padding: 11vh 25px; background: rgb(239, 242, 244); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">
                <span style="font-size: 20px;">Smart Speaker with Amazon Alexa free</span><br /><br />with moto z² force
                edition**
            </p>
            <button class="md-block-movie-play-btn">
                <img src="/arquivos/icon_circleplay_100@2x.png" alt="Play" width="100" height="100"
                    class="md-block-movie-play-img" />
            </button>
        </div>
        <img src="/arquivos/pic-1-0125.jpg" alt="" class="md-movie-bg" style="width: 100%;" />
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="qSE9c8B643o"></div>
    </div>
    <div class="md-item md-specification-btn-more" description-version="1.1">
        <div class="md-specification-2-box" style="background: rgb(239, 242, 244);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5 align-items-center">
                        <img src="/arquivos/pic-1-0126.jpg" alt="" class="img-fluid md-specification-img" />
                    </div>
                    <div class="col-12 col-md-7">
                        <h2 class="md-h2" style="color: rgb(0, 0, 0);">specifications</h2>
                        <p class="md-p" style="color: rgb(0, 0, 0);"></p>

                        <div class="md-specification-box">
                            <div class="row">
                                <div class="col-12 col-md-6 md-specification-box-col-1">
                                    <h5 style="color: rgb(0, 0, 0);">
                                        Amazon Alexa, anytime, anywhere
                                    </h5>
                                    <p style="color: rgb(0, 0, 0);">
                                        Ask Alexa and get the answers you need, even when you’re not
                                        at home.
                                    </p>
                                    <h5 style="color: rgb(0, 0, 0);">Boombox with brains</h5>
                                    <p style="color: rgb(0, 0, 0);">
                                        Turn the volume way up. Alexa responds to voice commands
                                        over music without skipping a beat.
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 md-specification-box-col-2">
                                    <h5 style="color: rgb(0, 0, 0);">Updates on the fly</h5>
                                    <p style="color: rgb(0, 0, 0);">
                                        Just ask Alexa to pull up your to-do list, calendar, weather
                                        forecast, music controls and more. No matter where you are.
                                    </p>
                                    <h5 style="color: rgb(0, 0, 0);">Dockable design</h5>
                                    <p style="color: rgb(0, 0, 0);">
                                        Make any place feel like home with the convenience of a
                                        compact, dock design.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button class="md-specification-btn-more-btn">
                                <span class="md-btn-icon">+</span>
                                <span class="md-btn-text">View full specification</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-specification-2-box-more" style="display: none; background: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 align-items-center">
                        <img src="/arquivos/pic-1-0127.png" alt="" class="img-fluid md-specification-img" />
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="md-specification-box">
                            <div class="row">
                                <div class="col-12 col-md-6 md-specification-box-col-1">
                                    <h5 style="color: rgb(0, 0, 0);">Dimensions</h5>
                                    <p style="color: rgb(0, 0, 0);">153.2 x 73.2 x 22.8 mm</p>
                                    <h5 style="color: rgb(0, 0, 0);">Weight</h5>
                                    <p style="color: rgb(0, 0, 0);">168 g</p>
                                    <h5 style="color: rgb(0, 0, 0);">Number of microphones</h5>
                                    <p style="color: rgb(0, 0, 0);">4 far field microphones</p>
                                    <h5 style="color: rgb(0, 0, 0);">Number of speakers</h5>
                                    <p style="color: rgb(0, 0, 0);">
                                        2 @ 27 mm diameter, stereo sound
                                    </p>
                                    <h5 style="color: rgb(0, 0, 0);">Speaker power</h5>
                                    <p style="color: rgb(0, 0, 0);">6W</p>
                                    <h5 style="color: rgb(0, 0, 0);">Frequency response range</h5>
                                    <p style="color: rgb(0, 0, 0);">200 Hz - 20 kHz</p>
                                    <h5 style="color: rgb(0, 0, 0);">Loudness</h5>
                                    <p style="color: rgb(0, 0, 0);">82 dBSPL @ 0.5m</p>
                                    <h5 style="color: rgb(0, 0, 0);">Speakerphone support</h5>
                                    <p style="color: rgb(0, 0, 0);">Yes</p>
                                </div>
                                <div class="col-12 col-md-6 md-specification-box-col-2">
                                    <h5 style="color: rgb(0, 0, 0);">Integrated battery</h5>
                                    <p style="color: rgb(0, 0, 0);">Yes</p>
                                    <h5 style="color: rgb(0, 0, 0);">Battery size</h5>
                                    <p style="color: rgb(0, 0, 0);">1530 mAh</p>
                                    <h5 style="color: rgb(0, 0, 0);">Battery life</h5>
                                    <p style="color: rgb(0, 0, 0);">Up to 15 hours*</p>
                                    <h5 style="color: rgb(0, 0, 0);">External charging</h5>
                                    <p style="color: rgb(0, 0, 0);">Yes</p>
                                    <h5 style="color: rgb(0, 0, 0);">Charge rate</h5>
                                    <p style="color: rgb(0, 0, 0);">1.5A/7.5W rate</p>
                                    <h5 style="color: rgb(0, 0, 0);">Water protection</h5>
                                    <p style="color: rgb(0, 0, 0);">Splashproof<sup>†</sup></p>
                                    <h5 style="color: rgb(0, 0, 0);">Compatibility</h5>
                                    <p class="p1" style="color: rgb(0, 0, 0);">
                                        <strong>moto smart speaker with Amazon Alexa</strong> is
                                        compatible with any phone in the
                                        <a href="https://www.motorola.com/us/products/moto-z-family"><strong
                                                style="color: #0090a6">moto z family</strong></a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-cards-3" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2" style="color: rgb(0, 0, 0);">
                go beyond your smartphone
            </h2>
            <p class="md-p" style="color: rgb(0, 0, 0);"></p>

            <div class="md-columns-cards-box row">
                <div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0">
                    <img src="/arquivos/pic-1-0128.jpg" alt="" class="img-fluid" />
                    <div class="md-card-details" style="background: #46c7e1">
                        <h4 style="color: #fff">moto z family</h4>
                        <p style="color: #fff">
                            Thinner, lighter, faster premium smartphones that transform to
                            support your interests with Moto Mods.
                        </p>
                        <div class="btn-card">
                            <a href="https://www.motorola.com/us/products/moto-z-family"
                                style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0">
                    <img src="/arquivos/pic-1-0129.jpg" alt="" class="img-fluid" />
                    <div class="md-card-details" style="background: #46c7e1">
                        <h4 style="color: #fff">moto mods family</h4>
                        <p style="color: #fff">
                            Your phone becomes a movie projector, stereo speaker, battery
                            powerhouse, and more, in a snap.
                        </p>
                        <div class="btn-card">
                            <a href="https://www.motorola.com/us/products/moto-mods"
                                style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0">
                    <img src="/arquivos/pic-1-0130.jpg" alt="" class="img-fluid" />
                    <div class="md-card-details" style="background: #46c7e1">
                        <h4 style="color: #fff">moto mod development kit</h4>
                        <p style="color: #fff">
                            Dream. Make. Ship. It’s that simple to bring your ideas to life
                            and transform the smartphone in a new way.
                        </p>
                        <div class="btn-card">
                            <a href="https://developer.motorola.com/"
                                style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>