<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-specification-btn-more" description-version="1.1">
            <div class="md-specification-2-box" style="background: rgb(245, 245, 245);">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-5 align-items-center">
                            <img src="/arquivos/pic-1-0150.png" alt="" class="img-fluid md-specification-img">
                        </div>
                        <div class="col-12 col-md-7">
                            <h2 class="md-h2" style="color: rgb(0, 0, 0);">specifications</h2>
                            <p class="md-p" style="color: rgb(0, 0, 0);"></p>

                            <div class="md-specification-box">
                                <div class="row">
                                    <div class="col-12 col-md-6 md-specification-box-col-1"><h5 style="color: rgb(0, 0, 0);">Protect your phone</h5><p style="color: rgb(0, 0, 0);">Chuck your phone in your pocket or bag and go. <strong>moto folio</strong> protects against everyday scratches and bumps.</p><h5 style="color: rgb(0, 0, 0);">Travel lighter</h5><p style="color: rgb(0, 0, 0);">The internal card slot holds one credit card or ID. A secure magnetic closure keeps the case from popping open.</p><h5 style="color: rgb(0, 0, 0);">Express your style</h5><p style="color: rgb(0, 0, 0);">Available in Super Black, Fine Gold, Grape Juice, Felt Grey, Melange Pink, and Oxford Blue designs.</p></div>
                                    <div class="col-12 col-md-6 md-specification-box-col-2"><h5 style="color: rgb(0, 0, 0);">Dimensions</h5><p style="color: rgb(0, 0, 0);">156.1 x 74 x 3.5 mm</p><h5 style="color: rgb(0, 0, 0);">Weight</h5><p style="color: rgb(0, 0, 0);">55 g</p><h5 style="color: rgb(0, 0, 0);">Compatibility</h5><p style="color: rgb(0, 0, 0);"><strong>moto folio</strong> is compatible with any phone in the <a href="http://www.motorola.com/us/products/moto-z-family"><strong style="color: #0090a6">moto z family</strong></a>.</p></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-specification-2-box-more" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 align-items-center">
                            <img src="" alt="" class="img-fluid md-specification-img">
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="md-specification-box">
                                <div class="row">
                                    <div class="col-12 col-md-6 md-specification-box-col-1">
                                        
                                    </div>
                                    <div class="col-12 col-md-6 md-specification-box-col-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="md-item md-cards-3" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">go beyond your smartphone</h2>
                <p class="md-p" style="color: rgb(0, 0, 0);"></p>
    
                <div class="md-columns-cards-box row justify-content-center"><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0147.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #46c7e1"><h4 style="color: #fff">moto z family</h4><p style="color: #fff">Thinner, lighter, faster premium smartphones that transform to support your interests with Moto Mods.</p><div class="btn-card"><a href="https://www.motorola.com/us/products/moto-z-family" style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a></div></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0148.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #46c7e1"><h4 style="color: #fff">moto mods family</h4><p style="color: #fff">Your phone becomes a movie projector, stereo speaker, battery powerhouse, and more, in a snap.</p><div class="btn-card"><a href="https://www.motorola.com/us/products/moto-mods" style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a></div></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0149.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #46c7e1"><h4 style="color: #fff">moto mod development kit</h4><p style="color: #fff">Dream. Make. Ship. It’s that simple to bring your ideas to life and transform the smartphone in a new way.</p><div class="btn-card"><a href="https://developer.motorola.com/" style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a></div></div></div></div>
            </div>
        </div></div>