<div id="motorola-description" style="color: rgb(255, 255, 255);">
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="background: rgb(0, 0, 0); height: 1200px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0061.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="n8j04xLMP_E"></div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">experience the fastest network speeds ever</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">5G is here. Upgrade to the unprecedented speeds
                    of Verizon’s 5G network when you add the <strong>5G moto mod.*</strong></p>
                <button class="md-more-info-btn mt-3"
                    style="color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">Learn more +</button>
            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0092.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

            <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
                style="background: rgb(13, 15, 35);">
                <div class="row align-items-sm-center">
                    <div class="col-12 col-md-6">
                        <h2 class="md-h2" style="color: rgb(255, 255, 255);">48 MP rear camera sensor** with 4x greater
                            light sensitivity</h2>
                        <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Our largest-ever sensor with Quad Pixel
                            technology combines four pixels into one large 1.6µm pixel for vastly improved low light
                            performance. In other words, you get incredibly sharp 12 MP photos—brighter shots with way
                            less noise.</p>

                    </div>
                    <div class="col-image col-12 col-md-6">
                        <img src="/arquivos/pic-1-0086.jpg" alt="" class="md-block-info-img img-fluid">
                    </div>
                </div>

            </div>
            <div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1"
                style="background: rgb(13, 15, 35);">
                <div class="row align-items-sm-center">
                    <div class="col-image col-12 col-md-6">
                        <img src="/arquivos/pic-1-0087.jpg" alt="" class="md-block-info-img img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="md-h2" style="color: rgb(255, 255, 255);">capture the night</h2>
                        <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Switch to Night Vision mode in low light
                            conditions to bring more details out of the dark. Capture bright, vivid photos with stunning
                            clarity and more accurate colors.</p>

                    </div>
                </div>

            </div>
            <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
                style="background: rgb(13, 15, 35);">
                <div class="row align-items-sm-center">
                    <div class="col-12 col-md-6">
                        <h2 class="md-h2" style="color: rgb(255, 255, 255);">shoot photos like a pro with AI</h2>
                        <p class="md-p mt-3" style="color: rgb(255, 255, 255);">With new features like Smart
                            Composition, Auto Smile Capture, and AI Portrait Lighting, artificial intelligence (AI)
                            inside the moto z4 looks for ways to give you the most professional-looking photos possible.
                        </p>

                    </div>
                    <div class="col-image col-12 col-md-6">
                        <img src="/arquivos/pic-1-0088.jpg" alt="" class="md-block-info-img img-fluid">
                    </div>
                </div>

            </div><button class="md-more-info-btn"><img src="/arquivos/close-icon-light.png" width="50"
                    height="50"></button>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0062.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">our largest camera sensor. your best photos.</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Pictures turn out great even when the lighting
                    isn’t, thanks to a huge 48 MP rear camera sensor** with new Night Vision mode. Plus, there’s optical
                    image stabilization (OIS) to automatically steady unwanted camera movement, and artificial
                    intelligence features to help you shoot like a pro.</p>
                <button class="md-more-info-btn mt-3"
                    style="color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">More camera features +</button>
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

            <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
                style="background: rgb(13, 15, 35);">
                <div class="row align-items-sm-center">
                    <div class="col-12 col-md-6">
                        <h2 class="md-h2" style="color: rgb(255, 255, 255);">48 MP rear camera sensor** with 4x greater
                            light sensitivity</h2>
                        <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Our largest-ever sensor with Quad Pixel
                            technology combines four pixels into one large 1.6µm pixel for vastly improved low light
                            performance. In other words, you get incredibly sharp 12 MP photos—brighter shots with way
                            less noise.</p>

                    </div>
                    <div class="col-image col-12 col-md-6">
                        <img src="/arquivos/pic-1-0086.jpg" alt="" class="md-block-info-img img-fluid">
                    </div>
                </div>

            </div>
            <div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1"
                style="background: rgb(13, 15, 35);">
                <div class="row align-items-sm-center">
                    <div class="col-image col-12 col-md-6">
                        <img src="/arquivos/pic-1-0087.jpg" alt="" class="md-block-info-img img-fluid">
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="md-h2" style="color: rgb(255, 255, 255);">capture the night</h2>
                        <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Switch to Night Vision mode in low light
                            conditions to bring more details out of the dark. Capture bright, vivid photos with stunning
                            clarity and more accurate colors.</p>

                    </div>
                </div>

            </div>
            <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
                style="background: rgb(13, 15, 35);">
                <div class="row align-items-sm-center">
                    <div class="col-12 col-md-6">
                        <h2 class="md-h2" style="color: rgb(255, 255, 255);">shoot photos like a pro with AI</h2>
                        <p class="md-p mt-3" style="color: rgb(255, 255, 255);">With new features like Smart
                            Composition, Auto Smile Capture, and AI Portrait Lighting, artificial intelligence (AI)
                            inside the moto z4 looks for ways to give you the most professional-looking photos possible.
                        </p>

                    </div>
                    <div class="col-image col-12 col-md-6">
                        <img src="/arquivos/pic-1-0088.jpg" alt="" class="md-block-info-img img-fluid">
                    </div>
                </div>

            </div><button class="md-more-info-btn"><img src="/arquivos/close-icon-light.png" width="50"
                    height="50"></button>
        </div>
    </div>
    <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(13, 15, 35);">
        <h2 class="md-h2 text-center" style="color: rgb(255, 255, 255);">more moto z⁴ camera features</h2>

        <div class="md-slider-box mt-5" data-pager-color="#fff">
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0063.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Night Vision</strong><br><br>Switch to Night Vision mode in low light conditions to bring
                        more details out of the dark. Capture bright, vivid photos with stunning clarity and more
                        accurate colors.</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0064.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Spot Color</strong><br><br>Pick one color to keep, and then turn everything else in the
                        photo to black &amp; white.</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0065.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Cinemagraph</strong><br><br>Keep a portion of your shot in motion while freezing
                        everything else for a unique effect. </p>
                </div> <button class="md-block-movie-play-btn-modal" data-id="#modal-movie-1" data-yt-id="player-1"><img
                        src="/arquivos/icon_circleplay_100@2xbranco.png" alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0066.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Hyperlapse</strong><br><br>Shoot a timelapse while in motion and smooth out unwanted
                        jerks, shakes and bounces.</p>
                </div> <button class="md-block-movie-play-btn-modal" data-id="#modal-movie-2" data-yt-id="player-2"><img
                        src="/arquivos/icon_circleplay_100@2xbranco.png" alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0067.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>AR Stickers</strong><br><br>Add fun, animated characters to the scenes in your photos and
                        videos using augmented reality (AR) stickers. Coming soon via Play Store update!</p>
                </div> <button class="md-block-movie-play-btn-modal" data-id="#modal-movie-3" data-yt-id="player-3"><img
                        src="/arquivos/icon_circleplay_100@2xbranco.png" alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0068.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Optical Image Stabilization</strong><br><br>Optical Image Stabilization (OIS) technology
                        automatically reduces unwanted camera movements that otherwise cause blurred images and video.
                    </p>
                </div> <button class="md-block-movie-play-btn-modal" data-id="#modal-movie-4" data-yt-id="player-4"><img
                        src="/arquivos/icon_circleplay_100@2xbranco.png" alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0069.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>moto mods</strong><br><br>Do things you never thought possible with a camera phone just
                        by snapping on a moto mod<sup>§</sup>. Capture 360-degree photos and videos or add a Polaroid
                        printer, just like that. <a href="https://www.motorola.com/us/products/moto-mods"
                            style="color: #000;" target="_blank" tabindex="0"><u>Learn more about all camera
                                features</u></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">25 MP selfie camera</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Shoot with one of the highest-resolution selfie
                    cameras around. Quad Pixel mode gives you incredibly sharp 6 MP selfies in low light. Plus, use
                    selfie portrait mode for an artistic blur effect in the background, and control touch-ups with
                    AI-based beautification.</p>
                <button class="md-more-info-btn mt-3"
                    style="color: rgb(255, 255, 255); border-color: rgb(255, 255, 255);">Learn more +</button>
            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0070.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

            <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(13, 15, 35);">
                <h2 class="md-h2 text-center">explore selfie camera features</h2>

                <div class="md-slider-box mt-5">
                    <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0089.jpg" alt=""
                            class="img-fluid">
                        <div class="md-slider-details text-center">
                            <p><strong>AI Portrait Lighting</strong><br><br>Easily apply unique and artistic lighting
                                effects, like sunshine, stage light, and color pop, to photos taken in portrait mode.
                            </p>
                        </div>
                    </div>
                    <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0090.jpg" alt=""
                            class="img-fluid">
                        <div class="md-slider-details text-center">
                            <p><strong>Portrait</strong><br><br>Add an artistic blur effect in the background for
                                professional-looking close-up (available on rear and front camera)</p>
                        </div>
                    </div>
                    <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0091.jpg" alt=""
                            class="img-fluid">
                        <div class="md-slider-details text-center">
                            <p><strong>Auto Smile Capture</strong><br><br>Take the perfect group photo without lifting a
                                finger. The camera analyzes your subjects and automatically captures a photo when
                                everyone in the frame is smiling.</p>
                        </div>
                    </div>
                </div>
            </div><button class="md-more-info-btn"><img src="/arquivos/close-icon-light.png" width="50"
                    height="50"></button>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0071.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">up to 2 days of battery life</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Get through the weekend on a single charge with
                    a 3600 mAh battery<sup>‡‡</sup>, the largest ever on a moto z. Stretch your phone’s life even
                    further adding <a href="https://www.motorola.com/us/products/moto-mods/moto-power-pack#buy "
                        style="color: #ffffff;" tabindex="0" target="_blank"><u>battery moto mods</u></a><sup>§</sup>.
                    Plus, get hours of power in just minutes of <strong>turbopower™</strong> charging<sup>†</sup>.</p>

            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">experience the brilliance of an OLED display</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Enjoy movies, games, and more with vibrant
                    colors and sharp details on an edge-to-edge 6.4" Max Vision display.</p>

            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0072.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0073.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">integrated fingerprint sensor</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">New optical sensing technology can read your
                    fingerprint through the display glass, so it appears on-screen only when you need it, then
                    discreetly fades away. <a class="family-hero-cta"
                        href="https://support.motorola.com/us/en/products/cell-phones/moto-zfamily/moto-z4/documents/MS140565"
                        style="text-decoration: underline;text-decoration;color: white;" target="_blank">Click here</a>
                    to learn more about fingerprint security and to see a list of compatible screen protectors.</p>

            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="background: rgb(13, 15, 35);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">customize your experience</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Make every night movie night with a 70"
                    projector. Capture the whole scene with a 360 degree camera. Instantly turn up the music with a
                    stereo speaker. Whatever you’re into, there’s a <strong>moto mod</strong>™§ for you.<br><a
                        href="https://www.motorola.com/us/products/moto-mods/" style="color:#fff;">Learn more</a></p>

            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0075.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1" style="background: rgb(13, 15, 35);">
        <div class="container">
            <h2 class="md-h2 text-center">more features you’ll love</h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-035.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Headphone jack</h4>
                        <p>You asked. We listened. The 3.5mm headset jack is back, so you can listen to music, books,
                            podcasts, and more without an adapter.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-036.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Clutter-free Android</h4>
                        <p>Experience Android as it was intended with no duplicate apps, no clunky UI skins, and
                            software that doesn’t slow you down.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-037.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Exclusive moto experiences</h4>
                        <p>Exclusive Moto Experiences make using your moto z4 easier than ever. Preview notifications
                            from the lock screen, or navigate with intuitive gestures.<br><a
                                href="https://www.motorola.com/us/software-and-apps" style="color:#fff;">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-038.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Water repellent. Worry proof.</h4>
                        <p>Whether you’re sweating it out at the gym or taking calls in the rain, a water-repellent
                            design keeps your phone protected inside and out.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(13, 15, 35);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block"
                            width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Unprecedented speeds with moto 5G*</h4>
                        <p>Add the moto mod to upgrade to lightning-fast 5G speeds on Verizon’s 5G network*.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block"
                            width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>48 MP sensor** with Night Vision</h4>
                        <p>Shoot amazing photos even in the dark with Quad Pixel technology, optical image
                            stabilization, and Night Vision mode.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block"
                            width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>25 MP selfies</h4>
                        <p>With Quad Pixel technology, get 4x better low light sensitivity for stunning selfies.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block"
                            width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Up to 2 days of battery life<sup>‡‡</sup></h4>
                        <p>Go way beyond a full day on a single charge. Then get hours of power in just minutes with
                            turbopower™<sup>†</sup> charging.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block"
                            width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>P6.4" OLED display with on-screen fingerprint reader</h4>
                        <p>Bring videos and photos to life with a brilliant OLED display, and instantly unlock with a
                            fingerprint reader that only appears when you need it.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block"
                            width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Personalize with moto mods™<sup>§</sup></h4>
                        <p>Boost your battery, audio, or camera in ways that other smartphones can’t.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>