<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 11vh 25px 5vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">a CES 2019 Innovation Awards honoree</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The CES Innovation Awards recognizes the new
                    <strong>moto z³</strong> in the category of Wireless Devices, Accessories and
                    Services.<br><br><br><a
                        style="border: 1px solid #E1140A; background-color: rgba(225,20,10,1.0); border-radius: 25px; padding: 13px 25px; font-weight: 500 !important; font-size: 16px !important; color: #FFFFFF;"
                        href=" https://www.ces.tech/Events-Programs/Innovation-Awards/Honorees.aspx"
                        target="_self">Learn more</a></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 11vh 25px 5vh; background: rgb(232, 232, 232);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">race past expectations</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With the new <strong>moto z<sup>3</sup></strong>, be
                    the first to upgrade to Verizon’s 5G network just by snapping on a <strong>moto
                        mod<sup>™</sup></strong>.<sup>*</sup> Plus, get an all-day battery,<sup>†</sup> dual
                    depth-sensing smart cameras, and more.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="padding: 11vh 25px; background: rgb(232, 232, 232); height: 1199px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2xvermelho.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0049.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="tWaGF1pz1uo"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 11vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-039.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">accelerate your mobile experience</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Introducing the first ever use of millimeter wave
                    technology for a smartphone, only on Verizon with the <strong>5G moto mod™</strong>,<sup>*</sup>
                    sold separately. With projected speeds 10 times faster than today’s wireless technology, say goodbye
                    to buffering and hello to the fastest network ever.<sup>****</sup><br><br><br><a
                        style="border: 1px solid #E1140A; background-color: rgba(225,20,10,1.0); border-radius: 25px; padding: 13px 25px; font-weight: 500 !important; font-size: 16px !important; color: #FFFFFF;"
                        href="https://www.motorola.com/us/products/moto-mods/moto-5g" target="_self">Learn more</a></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0050.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-040.png" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">go all day and recharge faster</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Stay unplugged longer with up to 24 hours of built-in
                    battery life. When you’re running low, get half a day’s power in half an hour of charging with
                    <strong>turbopower<sup>™</sup></strong>.<sup>†</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0051.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-039.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100"><strong>customize your<br><span
                            style="color:#E1140A">moto z<sup>3</sup></span></strong></h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Print real Polaroid photos right from your phone, turn
                    any room into a DJ booth with immersive stereo sound, and more. Whatever you’re into, there’s a
                    <strong>moto mod<sup>™</sup></strong> for you.<br><br><strong><a
                            href="https://www.motorola.com/us/moto-mods" style="color:#000000;" target="_blank">Learn
                            more</a></strong>&nbsp;&nbsp;&nbsp;<strong><a
                            href="https://www.motorola.com/us/products/moto-mods" style="color:#000000;"
                            target="_blank">See them all</a></strong></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0052.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-041.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">dual depth-sensing smart cameras</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Snap stunning images under any conditions with dual 12
                    MP low light sensors, including one monochrome sensor. Use advanced imaging software to adjust
                    layers and colors, and even animate moments with cinemagraphs. Plus, discover your world with
                    integrated Google Lens tools, like text translation and object
                    recognition.<sup>††</sup><br><br><strong><a
                            href="https://www.motorola.com/us/products/moto-z-gen-3/camera" style="color:#000000;"
                            target="_blank">Explore all camera features</a></strong></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255); height: 1199px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2xbranco.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0053.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-1" style="display: none;" data-youtube="Ye-nH0Y-JKs"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-042.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">a near bezel-less display</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Binge-watch a show or scroll through your newsfeed on
                    an edge-to-edge 6” Full HD OLED display. Text and images pop with deep blacks and vivid colors. And
                    with a Max Vision 18:9 aspect ratio, you see more and scroll less.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0054.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-042.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">super-slim design</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">At just 6.75mm, <strong>moto z<sup>3</sup></strong> is
                    one of the thinnest smartphones around. With an aluminum body, 2.5D shaped Corning<sup>Ⓡ</sup>
                    Gorilla<sup>Ⓡ</sup> Glass display, and smooth rounded corners, it looks as great as it feels in your
                    hand.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0055.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-042.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">goof-proof construction</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Never let spills, splashes, or a little rain get in
                    your way. A water-repellent coating helps protect your phone inside and out.<sup>‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0056.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-043.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">declutter your screen</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Want an even better view? Turn on <strong>one button
                        nav</strong> to replace the Android buttons with a simple bar and navigate your phone using
                    intuitive gestures. Swipe left to go back or right to access recent apps, tap to go home, and more.
                </p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-2"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255); height: 1199px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2xbranco.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0057.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-2" style="display: none;" data-youtube="_ZNds0oraq4"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-043.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">not your average lock screen</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Intuitive shortcuts help you access your favorite
                    features quickly and easily—without unlocking your phone. Use <strong>moto actions</strong> to
                    launch the camera or turn on the flashlight with a simple gesture. Or try nudging your phone to
                    preview and respond to notifications on <strong>moto display</strong>.<sup>§</sup><br><br><strong><a
                            href="https://www.motorola.com/us/software-and-apps" style="color:#000000;"
                            target="_blank">Learn more</a></strong></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0058.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-044.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">security on your side</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Unlock in less than a second with just a touch on the
                    fingerprint sensor, now located on the side for more comfortable access. Authenticate
                    apps<sup>‡‡</sup> and make payments in an instant with your unique fingerprint.<sup>‡‡‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0059.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-044.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">here’s looking at you</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Unlock your phone simply by letting the front-facing
                    camera see your face. Thanks to facial recognition software, you don’t need to enter your password.
                </p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0060.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">more of what you love</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-026.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Get some space</h4>
                        <p>With 64 GB of storage, you have plenty of space for music, movies, and photos.<sup>§§</sup>
                        </p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-027.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Go high speed</h4>
                        <p>The Qualcomm<sup>®</sup> Snapdragon<sup>™</sup> 835 octa-core processor with 4 GB of memory
                            keeps up with everything you want to do.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-028.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Upgrade on us</h4>
                        <p>Receive two future upgrades to the latest Android<sup>®</sup> OS, absolutely free.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-029.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Get ready for 5G</h4>
                        <p>Be the first to get on Verizon’s 5G network when it launches by adding the optional
                            <strong>5G moto mod™</strong>.<sup>*</sup><br><br><strong><a
                                    href="https://www.motorola.com/us/products/moto-mods/moto-5g" style="color:#000000;"
                                    target="_blank">Learn more</a></strong></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-007.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>All-day battery</h4>
                        <p>Go from morning to night with a 3000 mAh battery. Plus, get half a day’s power in half an
                            hour of charging with <strong>turbopower™</strong>.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-030.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Endless possibilities</h4>
                        <p>moto mods let you customize your <strong>moto z<sup>3</sup></strong>with features that
                            reflect your passions and interests.<br><br><strong><a
                                    href="https://www.motorola.com/us/products/moto-mods" style="color:#000000;"
                                    target="_blank">Learn more</a></strong></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-031.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Dual depth-sensing rear cameras</h4>
                        <p>Capture and edit brilliant photos and self portraits in any light. The smart cameras even
                            recognize objects and text.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-032.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>6” edge-to-edge display</h4>
                        <p>Enjoy your favorite content in living color on a Max Vision Full HD+ display with an 18:9
                            aspect ratio.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-034.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Exclusive moto experiences</h4>
                        <p>Simple shortcuts and natural hand gestures help you access your favorite features and content
                            quickly, easily, and securely.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>