<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">big battery. total freedom.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Do more of what you love with up to 36 hours of
                    battery life.* Watch videos on an edge-to-edge 5.7" HD+ Max Vision display. Capture great photos
                    with a 13 MP rapid-focus camera. Unlock your phone with your fingerprint. And do it all fast on a
                    1.4 GHz quad-core processor.<sup>††</sup></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0093.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="BNIosf0wZ-k"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">stay unplugged longer. refuel faster.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Go up to 36 hours on a single charge thanks to a 4000
                    mAh battery. When it’s time to power up, don’t slow down. The included 10W rapid charger gives you
                    hours of power in just minutes. Or, charge even faster with a 15W <strong>turbopower™</strong>
                    charger, sold separately.*</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0094.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">big screen, small body</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Our new 5.7" Max Vision display spans from edge to
                    edge and still fits comfortably in your hand. The 18:9 aspect ratio gives you a much wider viewing
                    area than traditional displays, so entertainment never looked better.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0095.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">just point and shoot</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The 13 MP rear camera uses phase detection autofocus
                    to focus fast, so you never miss a moment. Plus, you always get the best pictures – <strong>moto g⁶
                        play</strong> automatically takes multiple shots and recommends the best one to keep.*</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0096.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">simply stunning selfies</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The 5 MP front camera with LED flash includes
                    beautification mode, which smoothes skin and reduces blemishes and wrinkles.</p>

            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0097.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="row align-items-sm-center">
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0098.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">unlimited high quality storage</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Google Photos is the default gallery for all your
                    photos and videos. Your memories are automatically backed up, searchable and can easily be accessed,
                    shared and edited from any device.†††</p>

            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="padding: 11vh 25px 5vh; background: rgb(105, 195, 71);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(255, 255, 255);">fingerprint reader</h2>
                <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Use one long press on the fingerprint reader to
                    lock and unlock your phone.</p>

            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0099.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">why wait for the good stuff?</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><strong>moto g⁶ play</strong> is backed by a speedy
                    Qualcomm® Snapdragon™ 1.4 GHz quad-core processor<sup>†† </sup>and powerful graphics capabilities.
                    Enjoy your favorite apps, games, and videos without annoying lag or stuttering, and browse the web
                    or stream music at fast 4G speed.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0100.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">dance in the rain</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><strong>moto g⁶ play</strong> sports a 3D glass back
                    packed with light-reflecting particles, so it looks great from every angle. Best of all, a
                    water-repellent coating helps protect the phone from accidental splashes or light rain.<sup>‡</sup>
                </p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0101.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">engineered for your life</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><strong>moto g⁶ play</strong> is built to help you
                    access features and content quickly,<br>easily, and securely, so you can have more peace of mind.
                </p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1"
        style="padding: 2vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-019.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Updates at a glance</h4>
                        <p><strong>moto display</strong> lets you preview notifications quickly and easily, without
                            unlocking your phone. Just give it a nudge to see what’s happening.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-053.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Exclusive moto experiences</h4>
                        <p>Need some space? Flip your phone face down to activate do not disturb mode. Need a light?
                            Chop down twice to turn on the torch. <strong>moto actions</strong> make life
                            easy.<sup>‡‡</sup></p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-054.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>You can have it all</h4>
                        <p>Add up to 128 GB more photos, songs, and movies thanks to a dedicated microSD card slot. Now
                            you don’t have to choose between adding a second SIM card for work or adding more
                            storage.<sup>§</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-047.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>4000 mAh battery and fast charging</h4>
                        <p>Go up to 36 hours on a single charge, then get hours of power in just minutes with the
                            included 10W rapid charger, or with a 15W <strong>turbopower</strong> charger, sold
                            separately.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-055.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Edge-to-edge display</h4>
                        <p>Enjoy your favourite entertainment on a 5.7" HD+ Max Vision display.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-056.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>13 MP rapid-focus camera</h4>
                        <p>Never miss a great shot with a camera that focuses as fast as you do.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-023.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Fast performance</h4>
                        <p>Get all the speed you need with a 1.4 GHz quad-core processor†† and plenty of RAM.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-057.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Secure fingerprint reader</h4>
                        <p>Unlock your phone with a touch.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-058.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Exclusive moto experiences</h4>
                        <p>Get shortcuts to the features you use most, like turning on the camera with a twist of your
                            wrist.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>