<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">see it. capture it. interact with it.</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture creative portraits and outdoor scenes with depth effects on a 12 MP dual camera system. Search what you see with Google Lens™. Plus, enjoy an ultrawide 6.2" Max Vision Full HD+ display.</p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0" style="padding: 0vh 25px; background: rgb(255, 255, 255); height: 430px;">
            <div class="md-block-movie-play">
                <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
                <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play" width="100" height="100" class="md-block-movie-play-img"></button>
            </div>
            <img src="/arquivos/pic-1-0154.jpg" alt="" class="md-movie-bg" style="width: 100%;">
            <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="1aiMLNtIKM8"></div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">striking portraits. stunning low-light shots.</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture artistic depth effects with a 12 MP dual camera system, big 1.25um pixels, a large f/1.8 aperture, and creative photo software. Plus, take better low-light selfies with an 8 MP front camera and a new screen flash.</p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0155.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 15vh 30px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">introducing high res zoom</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">High res zoom automatically restores the details and image clarity that are typically lost with digital zooming.§§ So your photos look clear and detailed, even when subjects are far away.<br><strong>See the difference below: without (left) vs. with (right). </strong></p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0002.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1" style="padding: 0px; background: rgb(255, 255, 255);">
            <div class="row align-items-sm-center">
                <div class="col-12 col-md-6">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);"><span class="text-align: center">AI-powered camera software: your built-in photo assistant</span></h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><span class="text-align: center">Group photos are easier than ever with auto smile capture, an algorithm that triggers the shot when everyone in the frame is smiling.** Plus, with Google Lens™, it’s like having an encyclopedia in your viewfinder.</span></p>
                    
                </div>
                <div class="col-image col-12 col-md-6" style="padding: 0px;">
                    <img src="/arquivos/pic-1-0003.jpg" alt="" class="md-block-info-img img-fluid">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 11vh 25px 15vh; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-093.svg" alt="" class="d-block" style="margin: 15px auto;" width="100" height="100">the latest device to join the Google Fi family</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With the new <strong>moto g⁷</strong> on Google Fi, get all your calls, texts, and data on one simple—and smart—plan. With Google Fi, your <strong>moto g7</strong> will seamlessly switch between networks to put you on the fastest signal the best signal, and when you travel abroad, you’ll enjoy high-speed data at the same rate you pay at home.<br><br><br><a style="border: 2px solid #4cc2e2; background-color: rgba(0,0,0,0); border-radius: 25px; padding: 13px 25px; font-weight: 500 !important; font-size: 16px !important; color: #4cc2e2;" href="https://fi.google.com/about/">Learn more</a></p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0156.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h1">specifications</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-004.png" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Ready for Google Fi</h4><p>Only phones designed for Fi, like<strong> moto g<sup>7</sup></strong>, can intelligently shift among mobile networks and Wi-Fi to give you clear calls and fast data — at home and around the world.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-004.png" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>12 MP + 5 MP dual camera system</h4><p>Go beyond photos with a creative 12 MP + 5 MP dual camera system, creative photo software, and Google Lens™.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-005.png" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>6.2" Full HD+ Max Vision display</h4><p>Our largest <strong>moto g</strong> display ever has a 19:9 aspect ratio for a widescreen viewing experience with movies and games.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-006.png" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>50% faster performance</h4><p>An octa-core Qualcomm® Snapdragon™ processor gives a performance boost in everything you do.<sup>‡‡</sup></p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-007.png" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>15W turbopower™ charging</h4><p>Get 9 hours of power in just 15 minutes, and go all day on a full charge.*</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-008.png" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Water-repellent, 3D glass design</h4><p>Enjoy a comfortable grip with a scratch-resistant, contoured 3D Corning® Gorilla® Glass design.<sup>†</sup></p></div></div></div>
            </div>
        </div></div>