<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">see it. capture it. interact with it.</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture creative portraits and outdoor scenes with depth effects on a 12 MP dual camera system. Search what you see with Google Lens™. Plus, enjoy an ultrawide 6.2" Max Vision Full HD+ display.</p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0" style="padding: 0vh 25px; background: rgb(255, 255, 255); height: 430px;">
            <div class="md-block-movie-play">
                <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
                <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play" width="100" height="100" class="md-block-movie-play-img"></button>
            </div>
            <img src="/arquivos/pic-1-0154.jpg" alt="" class="md-movie-bg" style="width: 100%;">
            <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="1aiMLNtIKM8"></div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">striking portraits. stunning low-light shots.</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture artistic depth effects with a 12 MP dual camera system, big 1.25um pixels, a large f/1.8 aperture, and creative photo software. Plus, take better low-light selfies with an 8 MP front camera and a new screen flash.</p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0155.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 15vh 30px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">introducing high res zoom</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">High res zoom automatically restores the details and image clarity that are typically lost with digital zooming.§§ So your photos look clear and detailed, even when subjects are far away.<br><strong>See the difference below: without (left) vs. with (right). </strong></p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0002.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1" style="padding: 0px; background: rgb(255, 255, 255);">
            <div class="row align-items-sm-center">
                <div class="col-12 col-md-6">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);"><span class="text-align: center">AI-powered camera software: your built-in photo assistant</span></h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><span class="text-align: center">Group photos are easier than ever with auto smile capture, an algorithm that triggers the shot when everyone in the frame is smiling.** Plus, with Google Lens™, it’s like having an encyclopedia in your viewfinder.</span></p>
                    
                </div>
                <div class="col-image col-12 col-md-6" style="padding: 0px;">
                    <img src="/arquivos/pic-1-0003.jpg" alt="" class="md-block-info-img img-fluid">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 11vh 25px 15vh; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">Amazon Alexa Hands-Free, right on your phone</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With Amazon Alexa Hands-Free, simply by saying “Alexa” you can play music, hear the news, check the weather, and more. Wherever you are, just ask, and Alexa will respond instantly.</p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0157.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h1">specifications</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Hands-Free access to Amazon Alexa</h4><p>With Amazon Alexa Hands-Free, simply by saying “Alexa” you can play music, hear the news, check the weather, and more. Wherever you are, just ask, and Alexa will respond instantly.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>12 MP + 5 MP dual camera system</h4><p>Go beyond photos with a creative 12 MP + 5 MP dual camera system, creative photo software, and Google Lens™.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>6.2" Full HD+ Max Vision display</h4><p>Our largest <strong>moto g</strong> display ever has a 19:9 aspect ratio for a widescreen viewing experience with movies and games.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>50% faster performance</h4><p>An octa-core Qualcomm® Snapdragon™ processor gives a performance boost in everything you do.<sup>‡‡</sup></p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>15W turbopower™ charging</h4><p>Get 9 hours of power in just 15 minutes, and go all day on a full charge.*</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Easy access to Amazon</h4><p>A pre-installed selection of Amazon apps provide easy access to Amazon Shopping, Amazon Music, Amazon Photos, and Audible.</p></div></div></div>
            </div>
        </div></div>