<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 2vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-039.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">battery power through the weekend</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Experience life uninterrupted. Get up to
                    40&nbsp;combined hours of battery when you snap on&nbsp;<strong>moto power pack</strong>.† Or detach
                    the <strong>moto mod™</strong> and travel light when you want.<br><br><br><a
                        href="https://www.motorola.com/us/products/moto-mods/moto-power-pack" style="color:#000000;"
                        target="_blank"><strong>Learn more</strong></a></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0076.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 2vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-039.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">booming sound and rich bass—anywhere</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With the new <strong>moto z<sup>3</sup></strong>, be
                    the first to upgrade to Verizon’s 5G network just by snapping on a <strong>moto
                        mod<sup>™</sup></strong>.<sup>*</sup> Plus, get an all-day battery,<sup>†</sup> dual
                    depth-sensing smart cameras, and more.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0077.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 2vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-039.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">go further</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Customize your <strong>moto z<sup>3</sup>
                        play</strong> with new experiences that reflect the things you love. Enjoy immersive gaming with
                    a handheld console, watch movies on a 70” projector screen, and more. Whatever you’re into, there’s
                    a <strong>moto mod™</strong> for you.<br><br><br><strong><a
                            href="https://www.motorola.com/us/moto-mods" style="color:#000000;" target="_blank">Learn
                            more</a></strong><strong>&nbsp;</strong> <u><strong><a
                                href="https://www.motorola.com/us/products/moto-mods" style="color:#000000;"
                                target="_blank">See them all</a></strong></u></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0078.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 2vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-042.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">super-slim design</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">At just 6.75mm, <strong>moto z<sup>3</sup>
                        play</strong> is one of the thinnest smartphones around. With an aluminum body, 2.5D shaped
                    Corning<sup>Ⓡ</sup> Gorilla<sup>Ⓡ</sup> Glass display, and smooth rounded corners, it looks as great
                    as it feels in your hand.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0079.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-042.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">make a splash</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Never let spills, splashes, or a little rain get in
                    your way. A water-repellent coating helps protect your phone inside and out.<sup>‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0080.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-041.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">dual rear smart cameras</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture brilliant photos in any condition with a 12 MP
                    low light sensor and 5 MP depth sensor. Use advanced imaging software to adjust layers and colors,
                    and even animate moments with cinemagraphs. Plus, discover your world with integrated Google Lens
                    tools, like text translation and object recognition.<sup>††</sup><br><br><strong><a
                            href="https://www.motorola.com/us/products/moto-z-play-gen-3/camera" style="color:#000000;"
                            target="_blank">Explore all camera features</a></strong></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255); height: 1199px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0081.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="WNZul2uAtm0"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-043.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">one touch does it all</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Now you can easily navigate your phone using intuitive
                    gestures. Swipe left to go back, right to access recent apps, tap to go home, and more. Replace the
                    Android buttons with one simple bar to declutter the screen and get a much better view.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0082.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-043.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">do less, experience more</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The new <strong>moto voice</strong> (beta) lets you
                    use hands-free commands to control your favorite apps and get answers to complicated, multi-part
                    questions.<sup>**</sup> Use <strong>moto actions</strong> to quickly navigate your phone and easily
                    access your favorite features. And when you need to check in, nudge your phone to preview and
                    respond to notifications on <strong>moto display</strong>.<sup>§</sup><br><br><strong><a
                            href="https://www.motorola.com/us/software-and-apps" style="color:#000000;"
                            target="_blank">Learn more</a></strong></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0083.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-044.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">on your side</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Unlock in less than a second with just a touch on the
                    fingerprint sensor, now located on the side for more comfortable access. Authenticate
                    apps<sup>‡‡</sup> and make payments in an instant with your unique fingerprint.<sup>‡‡‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0084.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 5vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><img src="arquivos/icon-044.svg" alt="" class="d-block"
                        style="margin: 15px auto;" width="100" height="100">here’s looking at you</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Unlock your phone simply by letting the front-facing
                    camera see your face. Thanks to facial recognition software, you don’t need to enter your password.
                </p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0085.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">more of what you love</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-046.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Fuel up fast</h4>
                        <p>Get half a day’s power in half an hour of charging with <strong>turbopower™</strong>.*</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-026.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Get some space</h4>
                        <p>With 64 GB of storage, you have plenty of space for music, movies, and photos.<sup>§§</sup>
                        </p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-027.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>High speed</h4>
                        <p>The Qualcomm<sup>®</sup> Snapdragon<sup>™</sup> 636 processor with 4 GB of memory keeps up
                            with everything you want to do.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-047.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Battery for the weekend</h4>
                        <p>Get up to 40 combined hours of battery life when you snap on&nbsp;<strong>moto power
                                pack</strong>.<sup>†</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-048.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Endless possibilities</h4>
                        <p><strong>moto mods</strong> let you customize your phone with features that reflect your
                            passions and interests.<strong><a href="https://www.motorola.com/us/products/moto-mods"
                                    style="color:#000000;">See them all</a></strong></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-049.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>6” edge-to-edge display</h4>
                        <p>Enjoy your favorite content in living color on a Max Vision Full HD+ display with an 18:9
                            aspect ratio.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-050.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Dual depth-sensing rear cameras</h4>
                        <p>Capture and edit brilliant photos and self portraits in any light. The smart cameras even
                            recognize objects and text.<sup>††</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-051.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Slim, sophisticated design</h4>
                        <p>With smooth, rounded edges and 2.5D CorningⓇ GorillaⓇ Glass, it’s a sight to behold.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-052.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Blazing-fast charging</h4>
                        <p>Get hours of power in minutes with the included <strong>turbopower™</strong>
                            charger.<sup>*</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>