<div id="motorola-description" style="color: rgb(255, 255, 255);"><div class="md-item md-cards-3" description-version="1.1" style="background: rgb(239, 242, 244);">
            <div class="container">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"></h2>
                <p class="md-p" style="color: rgb(0, 0, 0);"></p>
    
                <div class="md-columns-cards-box row"><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0138.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #3e8edd"><h4 style="color: #fff">smart stereo</h4><p style="color: #fff">With dual speakers cranking out crisp, clear stereo sound, it’s our most powerful boombox <strong>moto mod</strong> yet. And with Amazon Alexa built in, it’s our smartest, too. Whether you’re across the room or on the go,<sup>‡</sup> four powerful microphones ensure that Alexa always hears you.<sup>§</sup></p></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0139.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #3e8edd"><h4 style="color: #fff">docked and loaded</h4><p style="color: #fff">With a low-profile dockable design and no set-up required, this <strong>moto mod</strong> slips seamlessly into the fabric of your life. Just snap it on and Alexa connects to your phone’s 4G or Wi-Fi network instantly. Perfect for your nightstand at home, or wherever you roam.</p></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0140.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #3e8edd"><h4 style="color: #fff">power your journey</h4><p style="color: #fff">Use Alexa to your heart’s content without draining your phone’s power. The built-in battery lasts up to 15 hours.* Plus, you can recharge your phone and moto smart speaker with Amazon Alexa at the same time. Just plug in the speaker and dock your phone.</p></div></div></div>
            </div>
        </div><div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1" style="background: rgb(121, 194, 87);">
            <div class="row align-items-sm-center">
                <div class="col-12 col-md-6">
                    <h2 class="md-h2" style="color: rgb(255, 255, 255);">always fresh with early access to software upgrades</h2>
                    <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Android One devices are among the first to access the latest Android OS updates and platform innovations. With <strong>moto x<sup>4</sup> Android One</strong>, you’ll receive at least two years of OS upgrades, including an update to Android™ 9.0 Pie™, available now.<br><br><br><a class="cta-library-wrap Custom-rounded-17448-14651" href="https://www.motorola.com/us/software-and-apps/android " target="_self"><span style="border: 1px solid #ffffff;background-color: rgba(255,255,255,1.0);border-radius: 25px;padding: 13px 25px;font-weight: 500 !important;color: #79c257;">Learn more</span></a></p>
                    
                </div>
                <div class="col-image col-12 col-md-6">
                    <img src="/arquivos/pic-1-0141.jpg" alt="" class="md-block-info-img img-fluid">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification-btn-more" description-version="1.1">
            <div class="md-specification-2-box" style="background: rgb(255, 255, 255);">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-5 align-items-center">
                            <img src="/arquivos/pic-1-0142.jpg" alt="" class="img-fluid md-specification-img">
                        </div>
                        <div class="col-12 col-md-7">
                            <h2 class="md-h2" style="color: rgb(0, 0, 0);">specifications</h2>
                            <p class="md-p" style="color: rgb(0, 0, 0);"></p>

                            <div class="md-specification-box">
                                <div class="row">
                                    <div class="col-12 col-md-6 md-specification-box-col-1"><h5 style="color: rgb(0, 0, 0);">The best from Google</h5><p class="p1" style="color: rgb(0, 0, 0);">Enjoy the latest Google software and security, a refreshingly simple user interface, and the smart Google Fi network.</p><h5 style="color: rgb(0, 0, 0);">IP68 water resistant</h5><p class="p1" style="color: rgb(0, 0, 0);">Keep your phone protected from accidental spills, splashes and even puddles.*</p><h5 style="color: rgb(0, 0, 0);">Dual rear cameras</h5><p class="p1" style="color: rgb(0, 0, 0);">Take photos worth bragging about with an advanced camera system.</p></div>
                                    <div class="col-12 col-md-6 md-specification-box-col-2"><h5 style="color: rgb(0, 0, 0);">Ultra-low light selfie cam</h5><p class="p1" style="color: rgb(0, 0, 0);">Always look your best thanks to a 16 MP front camera and a selfie flash.</p><h5 style="color: rgb(0, 0, 0);">Precision-crafted glass and metal</h5><p class="p1" style="color: rgb(0, 0, 0);">Easy to hold and easy on the eyes, featuring a beautiful, contoured design.</p><h5 style="color: rgb(0, 0, 0);">Blazing-fast TurboPower™ charging</h5><p class="p1" style="color: rgb(0, 0, 0);">Get up to 6 hours of power in just 15 minutes.<sup>†</sup></p><h5 style="color: rgb(0, 0, 0);">Qualcomm<sup>®</sup> Snapdragon™ processor</h5><p class="p1" style="color: rgb(0, 0, 0);">Get octa-core performance without sacrificing style.</p></div>
                                </div>
                            </div>
                            <div class="btn-box">
                                <button class="md-specification-btn-more-btn"><span class="md-btn-icon">+</span> <span class="md-btn-text">View full specification</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-specification-2-box-more" style="display: none; background: rgb(255, 255, 255);">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 align-items-center">
                            <img src="/arquivos/pic-1-0127.png" alt="" class="img-fluid md-specification-img">
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="md-specification-box">
                                <div class="row">
                                    <div class="col-12 col-md-6 md-specification-box-col-1"><h5 style="color: rgb(0, 0, 0);">Carrier compatibility</h5><p style="color: rgb(0, 0, 0);">Available unlocked for major U.S. networks like Verizon, AT&amp;T, T-Mobile, Sprint<sup>†††</sup>, and Google Fi.</p><p class="p1" style="color: rgb(0, 0, 0);"><a href="https://www.motorola.com/us/carrier-compatibility">View carrier compatibility chart</a></p><h5 style="color: rgb(0, 0, 0);">Operating system</h5><p class="p1" style="color: rgb(0, 0, 0);">Android™ 7.1, Nougat upgradable to Android™ 9.0, Pie. <a href="https://support.motorola.com/us/en/softwareupgrade">Check for upgrades</a></p><h5 style="color: rgb(0, 0, 0);">System architecture/Processor</h5><p class="p1" style="color: rgb(0, 0, 0);">Qualcomm<sup>®</sup> Snapdragon™ 630 processor with 2.2 GHz Octa-core CPU and 650 MHz Adreno 508 GPU</p><h5 style="color: rgb(0, 0, 0);">Memory (RAM)</h5><p class="p1" style="color: rgb(0, 0, 0);">3 GB</p><h5 style="color: rgb(0, 0, 0);">Storage (ROM)</h5><p class="p1" style="color: rgb(0, 0, 0);">32 GB&nbsp;with microSD Card support (up to 2 TB)<sup>‡</sup></p><h5 style="color: rgb(0, 0, 0);">Dimensions</h5><p class="p1" style="color: rgb(0, 0, 0);">148.35 x 73.4 x 7.99 mm (9.45 mm at camera bump)</p><h5 style="color: rgb(0, 0, 0);">Weight</h5><p class="p1" style="color: rgb(0, 0, 0);">163 g</p><h5 style="color: rgb(0, 0, 0);">Display</h5><p class="p1" style="color: rgb(0, 0, 0);">5.2” FHD (1080×1920)<br>424 PPI<br>LTPS IPS<br>Corning<sup>®</sup> Gorilla<sup>®</sup> Glass</p><h5 style="color: rgb(0, 0, 0);">Battery</h5><p class="p1" style="color: rgb(0, 0, 0);">All-day battery<sup>†</sup><br>3000mAh, Non-removable</p><h5 style="color: rgb(0, 0, 0);">Charging</h5><p style="color: rgb(0, 0, 0);">15W TurboPower for 6 hours of power in 15 minutes<sup>†</sup></p><h5 style="color: rgb(0, 0, 0);">Water protection</h5><p class="p1" style="color: rgb(0, 0, 0);">IP68 Water Resistant<sup>*</sup></p><h5 style="color: rgb(0, 0, 0);">Network bands (by model)</h5><p class="p1" style="color: rgb(0, 0, 0);">4G LTE (Cat11 DL, Cat5 UL)<br>CDMA / EVDO Rev A<br>UMTS / HSPA+<br>GSM / EDGE<br>2G: GSM band 2/3/5/8 CDMA BC 0/1/10<br>3G: WCDMA band 1/2/4/5/8<br>4G: FDD LTE band 1/2/3/4/5/7/8/12/13/17/20/25/26/28/66<br>TDD LTE band 38/41</p><h5 style="color: rgb(0, 0, 0);">SIM card</h5><p class="p1" style="color: rgb(0, 0, 0);">Single Nano SIM/Dual Nano SIM</p><h5 style="color: rgb(0, 0, 0);">Sensors</h5><p class="p1" style="color: rgb(0, 0, 0);">Fingerprint Reader<br>Gravity<br>Proximity<br>Accelerometer<br>Ambient Light<br>Magnetometer<br>Gyroscope<br>Sensor Hub</p><h5 style="color: rgb(0, 0, 0);">Wi-Fi</h5><p class="p1" style="color: rgb(0, 0, 0);">Wi-Fi 802.11a/b/g/n/ac, 2.4GHz + 5GHz, Wi-Fi hotspot</p></div>
                                    <div class="col-12 col-md-6 md-specification-box-col-2"><h5 style="color: rgb(0, 0, 0);">Rear camera</h5><p class="p1" style="color: rgb(0, 0, 0);">12MP Dual Autofocus Pixel sensor (f2.0, 1.4um)<br>8MP ultra-wide angle with 120° field of view sensor (f2.2, 1.12um)<br>Color Correlated Temperature (CCT) dual LED flash<br>Phase Detection AutoFocus (PDAF)<br>Ultra-wide angle shot<br>Professional mode<br>Depth detection and depth effects<br>Selective Focus<br>Selective Black &amp; White (beta)<br>Background Replacement (beta)<br>Spot Color<br>Landmark/Object Recognition<br>Scan barcodes/QR codes/Business cards<br>Panorama<br>Slo-motion video<br>Best shot</p><h5 style="color: rgb(0, 0, 0);">Front camera</h5><p class="p1" style="color: rgb(0, 0, 0);">16MP (f2.0, 1um)<br>Selfie flash / light<br>4 MP adaptive low light mode<sup>§</sup><br>Selfie panorama<br>Face filters<br>Beautification mode<br>Professional mode</p><h5 style="color: rgb(0, 0, 0);">Video capture</h5><p class="p1" style="color: rgb(0, 0, 0);">2160P/4K (30fps), 1080P (60fps), 720P (30fps), 480P (30fps)</p><h5 style="color: rgb(0, 0, 0);">Connectivity</h5><p class="p1" style="color: rgb(0, 0, 0);">USB Type-CTM Port<br>3.5 mm headphone jack</p><h5 style="color: rgb(0, 0, 0);">FM radio</h5><p style="color: rgb(0, 0, 0);">Yes</p><h5 style="color: rgb(0, 0, 0);">Bluetooth<sup>®</sup> technology</h5><p class="p1" style="color: rgb(0, 0, 0);">Bluetooth<sup>®</sup> 5.0 BR/EDR + BLE</p><h5 style="color: rgb(0, 0, 0);">Speakers/microphones</h5><p class="p1" style="color: rgb(0, 0, 0);">Front-ported speaker<br>3-Mics</p><h5 style="color: rgb(0, 0, 0);">Video playback</h5><p style="color: rgb(0, 0, 0);">720p (120fps), 1080p (60fps), 4K (30fps)</p><h5 style="color: rgb(0, 0, 0);">Location services</h5><p class="p1" style="color: rgb(0, 0, 0);">GPS, GLONASS</p><h5 style="color: rgb(0, 0, 0);">NFC</h5><p style="color: rgb(0, 0, 0);">Yes</p><h5 style="color: rgb(0, 0, 0);">Colors</h5><p class="p1" style="color: rgb(0, 0, 0);">Super Black, Sterling Blue</p><h5 style="color: rgb(0, 0, 0);">moto mods</h5><p style="color: rgb(0, 0, 0);">No</p><h5 style="color: rgb(0, 0, 0);">moto experiences</h5><p style="color: rgb(0, 0, 0);">moto actions, moto display</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>