<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">see it. capture it. interact with it.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture creative portraits and outdoor scenes with
                    depth effects on a 12 MP dual camera system. Search what you see with Google Lens™. Plus, enjoy an
                    ultrawide 6.2" Max Vision Full HD+ display.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/video-bg-1.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="8QlkbGqFt8I"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">striking portraits. stunning low-light shots.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Capture artistic depth effects with a 12 MP dual
                    camera system, big 1.25um pixels, a large f/1.8 aperture, and creative photo software. Plus, take
                    better low-light selfies with an 8 MP front camera and a new screen flash.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0001.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">introducing high res zoom</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">High res zoom automatically restores the details and
                    image clarity that are typically lost with digital zooming.§§ So your photos look clear and
                    detailed, even when subjects are far away.<br><strong>See the difference below: without (left) vs.
                        with (right). </strong></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0002.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="padding: 0px; background: rgb(255, 255, 255);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"><span class="text-align: center">AI-powered camera
                        software: your built-in photo assistant</span></h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><span class="text-align: center">Group photos are
                        easier than ever with auto smile capture, an algorithm that triggers the shot when everyone in
                        the frame is smiling.** Plus, with Google Lens™, it’s like having an encyclopedia in your
                        viewfinder.</span></p>

            </div>
            <div class="col-image col-12 col-md-6" style="padding: 0px;">
                <img src="/arquivos/pic-1-0003.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 20px 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">camera feature: screen flash</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Compensate for low-light with a screen flash that
                    triggers automatically for bright, clear selfies.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0004.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">camera feature: cinemagraph</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Make cinemagraphs, keeping a portion of your shot in
                    motion while freezing everything else.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-1"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0005.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-1" style="display: none;" data-youtube="7cHuqHxveDM"></div>
    </div>
    <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(255, 255, 255);">
        <h2 class="md-h2 text-center" style="color: rgb(0, 0, 0);">explore even more <span style="color:#49bbd4">moto
                g⁷</span> camera features</h2>

        <div class="md-slider-box mt-5" data-pager-color="#000">
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0016.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">undefined</div> <button class="md-block-movie-play-btn-modal"
                    data-id="#modal-movie-2" data-yt-id="player-2"><img src="/arquivos/icon_circleplay_100@2x.png"
                        alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0016.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">undefined</div> <button class="md-block-movie-play-btn-modal"
                    data-id="#modal-movie-3" data-yt-id="player-3"><img src="/arquivos/icon_circleplay_100@2x.png"
                        alt="" width="50" height="50"></button>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">stunning re-engineered Max Vision display</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Enjoy maximum big screen entertainment on a 6.2" Full
                    HD+ display—our largest ever on a <strong>moto g</strong>. The 19:9 aspect ratio and new minimalist
                    U design create an ultrawide, immersive viewing experience for movies, games, photos, and more.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0006.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">all-day battery + <span
                        style="color:#49bbd4">turbopower™</span> charging</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Get 9 hours of power in just 15 minutes of charging.
                    After a full charge, the 3000 mAh battery lasts all day.*</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0007.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">50% faster performance</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Feel a boost in performance in everything you do, from
                    editing videos, to playing 3D games. With a responsive Qualcomm<sup>®</sup> Snapdragon<sup>™</sup>
                    632 octa-core processor, <strong>moto g⁷</strong> is 50% faster than the previous
                    generation.<sup>‡‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0008.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">water-repellent, inside and out</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">A water-repellent design protects against accidental
                    spills, sweat, and light rain.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0009.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-effect" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1 admake-effect-down" style="color: rgb(0, 0, 0);">exclusive moto experiences</h2>

            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div class="md-effect-text admake-effect-right">
                    <div class="md-effect-border">With One Button Nav, navigate with a virtual bar. With Lift to Unlock,
                        pick up your phone to wake the display. Look for more on the <strong>Moto app</strong>. <a
                            href="https://www.motorola.com/us/software-and-apps" target="_blank">Learn more</a></div>
                </div>
                <div class="md-effect-image">
                    <img src="/arquivos/pic-1-0010.jpg" alt="" class="img-fluid admake-effect-left">
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center">more of what you love</h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-001.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Expanded storage</h4>
                        <p>Store more photos, songs, and movies with a dedicated microSD card slot.<sup>††</sup></p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-002.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Face unlock + fingerprint reader</h4>
                        <p>Unlock your phone with facial recognition software in the front-facing camera, or use the
                            fingerprint reader on the back.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-003.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>personal audio. professional sound.</h4>
                        <p>Dolby Audio<sup>™</sup> gives you more control over your sound preferences with preset modes
                            for all sorts of content, from music to movies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">your best shot</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Here are some of our favorite clicks from everyday
                    <strong>moto g⁷</strong> photographers just like you.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(255, 255, 255);">
        <h2 class="md-h2 text-center" style="color: rgb(0, 0, 0);"></h2>

        <div class="md-slider-box mt-5" data-pager-color="#000">
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0011.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Jacqueline Marques, Finance Analyst, São Paulo, Brazil</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0012.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Natalia Falcao, Globalization QA Lead, Sao Paolo, Brazil</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0013.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Keith Gifford, Software Engineer, North Carolina, USA</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0014.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Sunny Joseph Anthony Cruz, Social Media Analyst, Bangalore, India</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0015.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Varun Shrivastava, Software Engineer, Bangalore, India</p>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-004.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>12 MP + 5 MP dual camera system</h4>
                        <p>Go beyond photos with a creative 12 MP + 5 MP dual camera system, creative photo software,
                            and Google Lens™.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-005.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>6.2" Full HD+ Max Vision display</h4>
                        <p>Our largest <strong>moto g</strong> display ever has a 19:9 aspect ratio for a widescreen
                            viewing experience with movies and games.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-006.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>50% faster performance</h4>
                        <p>An octa-core Qualcomm® Snapdragon™ processor gives a performance boost in everything you
                            do.<sup>‡‡</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-007.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>15W turbopower™ charging</h4>
                        <p>Get 9 hours of power in just 15 minutes, and go all day on a full charge.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-008.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Water-repellent, 3D glass design</h4>
                        <p>Enjoy a comfortable grip with a scratch-resistant, contoured 3D Corning® Gorilla® Glass
                            design.<sup>†</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-009.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>motorola-exclusive shortcuts</h4>
                        <p>Use natural gestures to access your favorite features and apps quickly and intuitively with
                            <u><a href="https://www.motorola.com/us/software-and-apps"
                                    style="color: #000000;"><strong>moto experiences</strong></a></u>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>