<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">envision the possibilities</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Meet <strong>moto g<sup>6</sup></strong>. With a 5.7" Full HD+ Max Vision display, advanced imaging software, and a long-lasting battery,* it’s impressive any way you look at it.</p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0" style="background: rgb(255, 255, 255); height: 430px;">
            <div class="md-block-movie-play">
                <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
                <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2xvermelho.png" alt="Play" width="100" height="100" class="md-block-movie-play-img"></button>
            </div>
            <img src="/arquivos/pic-1-0041.jpg" alt="" class="md-movie-bg" style="width: 100%;">
            <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="20vwZ-ipZfM"></div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">the latest device to join the Google Fi network</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With the new <strong>moto g</strong> on Google Fi, a wireless service from Google, get all your calls, texts, and data on one simple—and smart—plan. Your Fi phone automatically finds you the best signal, and when you travel abroad, you’ll enjoy high-speed data at the same rate you pay at home.<br><br><strong><a href="https://fi.google.com/about/" style="color:#000000;" target="_blank">Learn more</a></strong></p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0160.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h1">features</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Ready for Google Fi</h4><p>Only Fi-ready phones can intelligently shift among mobile networks and Wi-Fi to give you clear calls and fast data — at home and around the world.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Edge-to-edge display</h4><p>Enjoy your favorite entertainment on a new 5.7" Full HD+ display with an 18:9 aspect ratio.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Advanced imaging software</h4><p>Unleash your creativity with dual rear cameras and tools for everything from stunning portrait shots to hilarious face filters.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>All-day battery + turbopower™ charging</h4><p>Stay unplugged longer, then get hours of power in just minutes of charging.*</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Powerful performance</h4><p>Keep it moving with a 1.8 GHz octa-core processor and 4G speed..</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Multi-function fingerprint reader</h4><p>Instantly unlock your phone with just a touch.**</p></div></div></div>
            </div>
        </div></div>