<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">envision the possibilities</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Meet <strong>moto g⁶</strong>. With a 5.7" Full HD+
                    Max Vision display, advanced imaging software, and a long-lasting battery,* it’s impressive any way
                    you look at it.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0041.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="20vwZ-ipZfM"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">more screen, less bezel</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With a new edge-to-edge Full HD+ Max Vision display,
                    nothing stands between you and your favorite content. Immerse yourself in games and movies with an
                    ultra-wide 18:9 aspect ratio. And with integrated Dolby Audio™ preset modes, your favorite content
                    always sounds its best.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0042.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">power play</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Get through a full day on a single charge with a 3000
                    mAh battery. When it’s time to power up, don’t slow down. The included <strong>turbopower™</strong>
                    charger gives you hours of battery life in just minutes of charging.<sup>*</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0043.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">studio-quality portraits, and then some</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Unleash your inner shutterbug with dual rear cameras
                    and advanced photo software. Shoot timelapse video. Take wide-angle selfies with fun face filters on
                    the 8 MP front camera. Plus, use the smart camera system to learn more about objects and landmarks
                    around you.<br><br><a href="https://www.motorola.com/us/products/moto-g-gen-6/camera"
                        style="color:#000000;">Explore all camera features</a></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0044.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">faster streaming, less lag</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Enjoy your favorite apps, games, and videos without
                    lags and interruptions on a blazing-fast Qualcomm<sup>®</sup> Snapdragon™ 1.8 GHz octa-core
                    processor. With powerful graphics capabilities and 4G speed, you don’t have to sacrifice video
                    quality for a faster load time.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0045.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">sleek and sturdy</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><strong>moto g⁶ </strong>is completely wrapped in
                    scratch-resistant Corning® Gorilla® Glass with a 3D contoured back for a comfortable grip.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0046.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">make a splash</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">A water-repellent coating helps protect the phone from
                    accidental splashes or light rain.<sup>‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0047.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">engineered for your life</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><strong>moto g⁶</strong> is built to help you access
                    features and content quickly, easily, and securely, so you can have more peace of mind.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1"
        style="padding: 2vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-017.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Multi-function fingerprint reader</h4>
                        <p>Use one long press on the fingerprint reader to lock and unlock your phone. Then swipe left
                            to go back, swipe right to access recent apps, or tap once to go home.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-018.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Exclusive moto experiences</h4>
                        <p>Need some space? Flip your phone face down to activate do not disturb mode. Need a light?
                            Chop down twice to turn on the torch. <strong>moto actions</strong> make life
                            easy.<sup>‡‡</sup></p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-019.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Updates at a glance</h4>
                        <p><strong>moto display</strong> gives you a quick preview of notifications and updates, so you
                            can see what’s going on without unlocking your phone. You can even reply to messages right
                            from the lockscreen.<sup>§§</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-020.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Edge-to-edge display</h4>
                        <p>Enjoy your favorite entertainment on a new 5.7" Full HD+ display with an 18:9 aspect ratio.
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-021.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Advanced imaging software</h4>
                        <p>Unleash your creativity with dual rear cameras and tools for everything from stunning
                            portrait shots to hilarious face filters.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-022.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>All-day battery + turbopower™ charging</h4>
                        <p>Stay unplugged longer, then get hours of power in just minutes of charging.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-023.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Powerful performance</h4>
                        <p>Keep it moving with a 1.8 GHz octa-core processor and 4G speed.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-016.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Multi-function fingerprint reader</h4>
                        <p>Instantly unlock your phone with just a touch.**</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-024.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Goof-proof design</h4>
                        <p>A water-repellent coating helps protect the phone, inside and out.<sup>‡</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>