<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">envision the possibilities with ultimate Amazon Prime access</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Meet <strong>moto g<sup>6</sup>.</strong> With a 5.7" Full HD+ Max Vision display, advanced imaging software, and a long-lasting battery,* it’s impressive any way you look at it. Plus, with a pre-installed selection of Amazon apps, including the Amazon Widget, enjoy easy access to daily deals, Prime movies and TV shows, Prime Music, Prime Photos storage, and more, with a single sign-on experience.</p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0" style="background: rgb(255, 255, 255); height: 430px;">
            <div class="md-block-movie-play">
                <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
                <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play" width="100" height="100" class="md-block-movie-play-img"></button>
            </div>
            <img src="/arquivos/pic-1-0041.jpg" alt="" class="md-movie-bg" style="width: 100%;">
            <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="20vwZ-ipZfM"></div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">Amazon Alexa, right on your phone</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Whether you’re in a hotel, a friend’s house or simply out and about, the features and benefits of Alexa are always with you.</p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0159.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h1">features</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Effortless access to Amazon</h4><p>Popular pre-installed Amazon apps allow quick access to your content, order history, wish list, shipment updates, and more. Plus, shop a personalized selection of daily deals right from the home screen using the Amazon Widget.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Prime benefits at your fingertips</h4><p>A single sign-on experience provides Prime members with easy access to tens of thousands of movies and TV episodes, over two million songs, unlimited photo storage and backup, free 2-day shipping, and more.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Amazon Alexa enabled</h4><p>Take the life-enhancing capabilities of Alexa anywhere you take your phone. Ask questions, plan your day, listen to music, and more. Wherever, whenever</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Unlocked for carrier freedom</h4><p>The new <strong>moto z³ play</strong> is unlocked so you can change carriers and keep your phone by just swapping SIM cards. Compatible with AT&amp;T, T-Mobile, Sprint,and Verizon networks.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Max Vision display</h4><p>Enjoy edge-to-edge views on a new 5.7" Full HD+ display with an 18:9 aspect ratio.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Advanced imaging software</h4><p>Unleash your creativity with dual rear cameras and tools for everything from stunning portrait shots to hilarious face filters.</p></div></div></div>
            </div>
        </div></div>