<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">big battery. ultimate Amazon Prime access. total freedom.</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Do more of what you love with up to 36 hours of battery life.* Watch videos on an edge-to-edge 5.7" HD+ Max Vision display. Capture great photos with a 13 MP rapid-focus camera. Unlock your phone with your fingerprint. And do it all fast on a 1.4 GHz quad-core processor.<sup>††</sup></p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0" style="background: rgb(255, 255, 255); height: 430px;">
            <div class="md-block-movie-play">
                <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
                <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play" width="100" height="100" class="md-block-movie-play-img"></button>
            </div>
            <img src="/arquivos/pic-1-0093.jpg" alt="" class="md-movie-bg" style="width: 100%;">
            <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="BNIosf0wZ-k"></div>
        </div><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 10vh 25px 0px; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">Amazon Alexa, right on your phone</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Whether you are at home, work, a friends house, or out and about, just double press the power button when your phone is unlocked and ask Alexa to check the weather, play music, and more.</p>
                    
                </div>
                <div class="col-image" style="margin: 0 -25px;">
                    <img src="/arquivos/pic-1-0159.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h1">features</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Effortless access to Amazon</h4><p>Popular pre-installed Amazon apps allow quick access to your content, order history, wish list, shipment updates, and more. Plus, shop a personalized selection of daily deals right from the home screen using the Amazon Widget.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Prime benefits at your fingertips</h4><p>A single sign-on experience provides Prime members with easy access to tens of thousands of movies and TV episodes, over two million songs, unlimited photo storage and backup, free 2-day shipping, and more.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Amazon Alexa enabled</h4><p>Take the life-enhancing capabilities of Alexa anywhere you take your phone. Ask questions, plan your day, listen to music, and more. Wherever, whenever</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Unlocked for carrier freedom</h4><p>The new <strong>moto g</strong> is unlocked so you can change carriers and keep your phone by just swapping SIM cards. Compatible with AT&amp;T, T-Mobile, Sprint, Verizon networks, and Project Fi.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>4000 mAh battery + turbopower™ charging</h4><p>Go up to 36 hours on a single charge, then get hours of power in just minutes.*</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Edge-to-edge display</h4><p>Enjoy your favorite entertainment on a 5.7” HD+ Max Vision display.</p></div></div></div>
            </div>
        </div></div>