<div id="motorola-description" style="color: rgb(255, 255, 255);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="background: rgb(21, 18, 40);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(255, 255, 255);">Pick up a phone you’ll love without dropping a grand. Introducing the moto z⁴. With a 48 MP camera sensor*, 2 days of battery life<sup>‡‡</sup>, universal unlocking, and built-in Alexa Hands-Free, this Motorola smartphone has the features you want at a price you’ll be more than happy with.</h2>
                    <p class="md-p mt-3" style="color: rgb(255, 255, 255);"></p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0" style="padding: 0vh 25px; background: rgb(0, 0, 0); height: 1200px;">
            <div class="md-block-movie-play">
                <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
                <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play" width="100" height="100" class="md-block-movie-play-img"></button>
            </div>
            <img src="/arquivos/pic-1-0152.jpg" alt="" class="md-movie-bg" style="width: 100%;">
            <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="9ylcGAoSolE"></div>
        </div><div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1" style="background: rgb(13, 15, 35);">
            <div class="row align-items-sm-center">
                <div class="col-12 col-md-6">
                    <h2 class="md-h2" style="color: rgb(255, 255, 255);">just say "Alexa"</h2>
                    <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Alexa Hands-Free technology lets you play music, hear the news, check the weather, and more using only your voice. All you have to do is say, “Alexa” and it’ll take care of the rest.</p>
                    
                </div>
                <div class="col-image col-12 col-md-6">
                    <img src="/arquivos/pic-1-0153.jpg" alt="" class="md-block-info-img img-fluid">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-right md-more-info-box" description-version="1.1" style="background: rgb(13, 15, 35);">
            <div class="row align-items-sm-center">
                <div class="col-image col-12 col-md-6">
                    <img src="/arquivos/pic-1-0070.jpg" alt="" class="md-block-info-img img-fluid">
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="md-h2" style="color: rgb(255, 255, 255);">25 MP high-res selfie camera</h2>
                    <p class="md-p mt-3" style="color: rgb(255, 255, 255);">In low light, choose 1.8µm Quad Pixel mode for incredibly sharp 6MP selfies with reduced noise. You can also use portrait mode to add an artistic blur effect in the background and control touch-ups with the help of AI-based beautification.<br><br><br><a class="cta-library-wrap Custom-rounded-89335-41285" href="https://www.motorola.com/us/products/moto-z-gen-4-unlocked" target="_blank"><span style="border: 1px solid #FFFFFF;background-color: rgba(0,0,0,0.0);border-radius: 25px;padding: 11px 25px;font-weight: 500 !important;color: #FFFFFF;">Learn more</span></a></p>
                    
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1" style="background: rgb(13, 15, 35);">
            <div class="row align-items-sm-center">
                <div class="col-12 col-md-6">
                    <h2 class="md-h2" style="color: rgb(255, 255, 255);">our largest camera sensor. your best photos.</h2>
                    <p class="md-p mt-3" style="color: rgb(255, 255, 255);">Made with a huge new 48 MP rear camera sensor* with new Night Vision mode, your pictures will turn out perfect, even when the lighting isn’t. Optical image stabilization (OIS) automatically steadies unwanted camera movement, while artificial intelligence features let you add a professional quality to your photos.<br><br><br><a class="cta-library-wrap Custom-rounded-89335-41285" href="https://www.motorola.com/us/products/moto-z-gen-4-unlocked" target="_blank"><span style="border: 1px solid #FFFFFF;background-color: rgba(0,0,0,0.0);border-radius: 25px;padding: 11px 25px;font-weight: 500 !important;color: #FFFFFF;">Learn more</span></a></p>
                    
                </div>
                <div class="col-image col-12 col-md-6">
                    <img src="/arquivos/pic-1-0086.jpg" alt="" class="md-block-info-img img-fluid">
                </div>
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="padding: 40px 25px 5vh; background: rgb(13, 15, 35);">
            <div class="container">
                <h2 class="md-h1">specifications</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>48 MP sensor* with Night Vision</h4><p>Take brilliant photos even in low light with NIght Vision mode.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Built in Alexa Hands-Free</h4><p>With Amazon Alexa Hands-Free, simply by saying “Alexa” you can play music, hear the news, check the weather, and more. Wherever you are, just ask, and Alexa Hands-Free will respond instantly.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Easy access to Amazon</h4><p>A pre-installed selection of Amazon apps provide easy access to Amazon Shopping, Amazon Music, Amazon Photos, and Audible.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>6.4" OLED display with on-screen fingerprint reader</h4><p>See incredible details on the impressive 6.4" CinemaVision display. </p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Personalize with moto mods™<sup>§</sup></h4><p>Upgrade your phone using moto mods.</p></div></div></div>
            </div>
        </div></div>