<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">compact design. huge performance.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Dont let the small size fool you. With a Qualcomm®
                    Snapdragon™ 632 octa-core processor and an ultrawide 5.7" Max Vision HD+ display, your games,
                    movies, and photos load fast and look stunning. And you will never miss a moment with a
                    fast-focusing 13 MP camera.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0035.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="oXLTyzHG0ZQ"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">110% faster performance</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Say goodbye to annoying delays and interruptions while
                    playing games or watching videos. With a Qualcomm® Snapdragon™ 632 octa-core processor, <strong>moto
                        g⁷ play</strong> is 110% faster than before.<sup>†</sup> It’s designed for lag-free performance
                    in everything you do.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0036.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">brilliant ultrawide Max Vision display</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Enjoy expansive views on an edge-to-edge, 5.7” HD+
                    display that still fits comfortably in your hand. The 19:9 aspect ratio provides a big screen
                    viewing experience, fully immersing you in movies, games, photos, and more.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0037.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="padding: 0px; background: rgb(255, 255, 255);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">clear and bright photos—anytime, anywhere</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The 13 MP rear camera uses phase detection autofocus
                    (PDAF) to capture your subject in an instant. And with a built-in flash on the 8 MP front camera,
                    selfies turn out great even in low light conditions.</p>

            </div>
            <div class="col-image col-12 col-md-6" style="padding: 0px;">
                <img src="/arquivos/pic-1-0038.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">40-hour battery with rapid charging</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The 3000 mAh battery lasts more than a full day on a
                    single charge. When you’re low on power, the 10W rapid charger gives you hours of power in just
                    minutes.*</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0039.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">water-repellent, inside and out</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">A water-repellent design protects against accidental
                    spills, sweat, and light rain.**</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0027.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-effect" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1 admake-effect-down" style="color: rgb(0, 0, 0);">exclusive moto experiences</h2>

            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div class="md-effect-text admake-effect-right">
                    <div class="md-effect-border">With One Button Nav, navigate with a virtual bar. With Lift to Unlock,
                        pick up your phone to wake the display. Look for more on the&nbsp;<strong>Moto app</strong>. <a
                            href="https://www.motorola.com/us/software-and-apps" target="_blank">Learn more</a></div>
                </div>
                <div class="md-effect-image">
                    <img src="/arquivos/pic-1-0040.jpg" alt="" class="img-fluid admake-effect-left">
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center">more of what you love</h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-013.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Expanded storage</h4>
                        <p>Store more photos, songs, and movies with a dedicated microSD card slot.<sup>††</sup></p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-014.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Face unlock</h4>
                        <p>With facial recognition software in the front-facing camera, you can unlock your phone with a
                            glance.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-015.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Fingerprint sensor</h4>
                        <p>Touch the fingerprint reader to wake up and unlock your phone. The sensor is discreetly
                            located on the back within the logo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-006.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>12 MP + 5 MP dual camera system</h4>
                        <p>Go beyond photos with a creative 12 MP + 5 MP dual camera system, creative photo software,
                            and Google Lens™.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-005.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>6.2" Full HD+ Max Vision display</h4>
                        <p>Our largest <strong>moto g</strong> display ever has a 19:9 aspect ratio for a widescreen
                            viewing experience with movies and games.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-004.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>50% faster performance</h4>
                        <p>An octa-core Qualcomm® Snapdragon™ processor gives a performance boost in everything you
                            do.<sup>‡‡</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-007.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>15W turbopower™ charging</h4>
                        <p>Get 9 hours of power in just 15 minutes, and go all day on a full charge.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-016.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Water-repellent, 3D glass design</h4>
                        <p>Enjoy a comfortable grip with a scratch-resistant, contoured 3D Corning® Gorilla® Glass
                            design.<sup>†</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-009.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>motorola-exclusive shortcuts</h4>
                        <p>Use natural gestures to access your favorite features and apps quickly and intuitively with
                            <u><a href="https://www.motorola.com/us/software-and-apps"
                                    style="color: #000000;"><strong>moto experiences</strong></a></u>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>