<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">days of battery life. nonstop fun.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The new <strong>moto g⁷ power</strong> gives you up to
                    3 days<sup>*</sup> of battery life, plus hours of power in just minutes with
                    <strong>turbopower™</strong> charging.<sup>‡‡</sup> Enjoy an ultrawide 6.2" HD+ display, the
                    responsive performance of an octa-core processor, and so much more.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0017.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="Du9Tq_oaGJ4"></div>
    </div>
    <div class="md-item md-effect" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1 admake-effect-down" style="color: rgb(0, 0, 0);">up to 3 days of power on a single charge
            </h2>

            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div class="md-effect-text admake-effect-right">
                    <div class="md-effect-border">An industry-leading 5000 mAh battery lasts up to 3 days on one
                        charge.<sup>*</sup> Plus, <strong>turbopower™</strong> gives you 9 hours of power in 15
                        minutes.<sup>‡‡</sup></div>
                </div>
                <div class="md-effect-image">
                    <img src="/arquivos/pic-1-0018.jpg" alt="" class="img-fluid admake-effect-left">
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">brilliant ultrawide Max Vision display</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Enjoy expansive views on a stunning 6.2" HD+ display.
                    The 19:9 aspect ratio provides a big screen viewing experience, fully immersing you in movies,
                    games, photos, and more.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0019.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">clear scenes and selfies in any light</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">The 12 MP rear camera uses phase detection autofocus
                    (PDAF) to capture your subject in an instant. Plus, large 1.25um pixels let in more light, so you
                    get better results even indoors and when it's dark out. Group shots are more fun, too, with group
                    selfie mode on the 8 MP front camera.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0020.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="padding: 0px; background: rgb(255, 255, 255);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">smart camera software</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Hi-res zoom restores the details and image clarity
                    that are typically lost with digital zooming.<sup>†</sup> A built-in screen flash helps you get the
                    perfect selfie lighting every time. Shoot cinemagraphs, 4K video, and more. Plus, search what you
                    see with Google Lens™.</p>

            </div>
            <div class="col-image col-12 col-md-6" style="padding: 0px;">
                <img src="/arquivos/pic-1-0021.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 20px 25px 15vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">camera feature: portrait mode</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Add an artistic blur effect in the background for
                    professional-looking close-up or portrait shots.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0022.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">camera feature: cinemagraph</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Make cinemagraphs, keeping a portion of your shot in
                    motion while freezing everything else.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-1"
        style="background: rgb(255, 255, 255); height: 430px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0005.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-1" style="display: none;" data-youtube="9kGcjHtZoCg"></div>
    </div>
    <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(255, 255, 255);">
        <h2 class="md-h2 text-center" style="color: rgb(0, 0, 0);">explore even more <span style="color:#5da64c">moto g⁷
                power</span> camera features</h2>

        <div class="md-slider-box mt-5" data-pager-color="#000">
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0023.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>timelapse</strong><br><br>Shoot dramatic timelapse videos with all the action whizzing
                        past at 4x, 8x, 16x, or 32x speed.</p>
                </div> <button class="md-block-movie-play-btn-modal" data-id="#modal-movie-2" data-yt-id="player-2"><img
                        src="/arquivos/icon_circleplay_100@2x.png" alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0024.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Google Lens</strong><br><br>Recognize landmarks, objects and foreign languages and more,
                        with Google Lens.</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0025.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Google Photos</strong><br><br>Free, unlimited, high-quality storage with Google
                        Photos.<sup>§</sup></p>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">responsive octa-core processor</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Edit photos, play 3D games, and run multiple apps at
                    once. A Qualcomm® Snapdragon™ 632 octa-core 1.8GHz processor gives you the speed you need to do it
                    all.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0026.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">water-repellent, inside and out</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">A water-repellent design protects against accidental
                    spills, sweat, and light rain.**</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0027.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-effect" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1 admake-effect-down" style="color: rgb(0, 0, 0);">exclusive moto experiences</h2>

            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                <div class="md-effect-text admake-effect-right">
                    <div class="md-effect-border">With One Button Nav, navigate with a virtual bar. With Lift to Unlock,
                        pick up your phone to wake the display. Look for more on the <strong>Moto app</strong>. <a
                            href="https://www.motorola.com/us/software-and-apps" target="_blank">Learn more</a></div>
                </div>
                <div class="md-effect-image">
                    <img src="/arquivos/pic-1-0028.jpg" alt="" class="img-fluid admake-effect-left">
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center">more of what you love</h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-010.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Expanded storage</h4>
                        <p>Store more photos, songs, and movies with a dedicated microSD card slot.<sup>††</sup></p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-011.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Face unlock</h4>
                        <p>With facial recognition software in the front-facing camera, you can unlock your phone with a
                            glance.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-012.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Fingerprint sensor</h4>
                        <p>Touch the fingerprint reader to wake up and unlock your phone. The sensor is discreetly
                            located on the back within the logo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">your best shot</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Here are some of our favorite clicks from everyday
                    <strong> moto g⁷ power</strong> photographers just like you.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(255, 255, 255);">
        <h2 class="md-h2 text-center" style="color: rgb(0, 0, 0);"></h2>

        <div class="md-slider-box mt-5" data-pager-color="#000">
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0029.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Snehal S Bhat, Software Engineer, Karnataka, India</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0030.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Louis YK7 Li, Sourcing Manager, Beijing, China</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0031.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Carsten Thoms, Data &amp; Infrastructure Manager, Ons-en-Bray, France</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0032.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Carsten Thoms, Data &amp; Infrastructure Manager, Dublin, Ireland</p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"> <img src="/arquivos/pic-1-0034.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Carsten Thoms, Data &amp; Infrastructure Manager, Dublin, Ireland</p>
                </div> <button class="md-block-movie-play-btn-modal" data-id="#modal-movie-3" data-yt-id="player-3"><img
                        src="/arquivos/icon_circleplay_100@2x.png" alt="" width="50" height="50"></button>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0033.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p>Photo by: Photo by: Marco Novaresio, Operations Manager, Beijing, China</p>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1" style="background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-004.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>12 MP + 5 MP dual camera system</h4>
                        <p>Go beyond photos with a creative 12 MP + 5 MP dual camera system, creative photo software,
                            and Google Lens™.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-005.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>6.2" Full HD+ Max Vision display</h4>
                        <p>Our largest <strong>moto g</strong> display ever has a 19:9 aspect ratio for a widescreen
                            viewing experience with movies and games.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-006.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>50% faster performance</h4>
                        <p>An octa-core Qualcomm® Snapdragon™ processor gives a performance boost in everything you
                            do.<sup>‡‡</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-007.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>15W turbopower™ charging</h4>
                        <p>Get 9 hours of power in just 15 minutes, and go all day on a full charge.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-008.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Water-repellent, 3D glass design</h4>
                        <p>Enjoy a comfortable grip with a scratch-resistant, contoured 3D Corning® Gorilla® Glass
                            design.<sup>†</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-009.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>motorola-exclusive shortcuts</h4>
                        <p>Use natural gestures to access your favorite features and apps quickly and intuitively with
                            <u><a href="https://www.motorola.com/us/software-and-apps"
                                    style="color: #000000;"><strong>moto experiences</strong></a></u>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>