<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px 10vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">clear pics. super selfies.</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">You’re always seen in the best light with the 5 MP
                    selfie cam and flash. Plus, the 8 MP rear-facing camera focuses in an instant, so you don’t miss a
                    moment. Your photos look great indoors and on dark cloudy days, thanks to auto enhancement.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0118.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">for your 24-hour life</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Do the things you want to do without stopping to
                    search for an outlet. With a 2800 mAh battery, you can go a full day on a single charge.*</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0119.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-left md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px 15vh; background: rgb(255, 107, 2);">
        <div class="row align-items-sm-center">
            <div class="col-12 col-md-6">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">smart and secure</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Touch the fingerprint reader to wake up and unlock and
                    lock your phone instantly. It’s discreetly located within the phone’s iconic logo, so you hardly
                    know it’s there until you use it. <strong>Availability varies per model.</strong><sup>†</sup></p>

            </div>
            <div class="col-image col-12 col-md-6">
                <img src="/arquivos/pic-1-0120.jpg" alt="" class="md-block-info-img img-fluid">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 10vh 25px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">worry-free enjoyment</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">A water-repellent design safeguards your phone inside
                    and out. So, don’t worry about accidental spills and splashes.<sup>‡</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0121.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">details make the difference</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">We mean it when we say you can make everyday
                    extraordinary with <strong>moto e⁵ play</strong>. All the features. A fraction of the price.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1"
        style="padding: 2vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-054.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>You can have it all</h4>
                        <p>Add up to 128 GB more photos, songs, and movies thanks to a dedicated microSD card slot.‡
                            Plus, enjoy free, high-quality, cloud-based storage with Google Photos.††</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-074.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Performance that packs a punch</h4>
                        <p>We’re not playing games when it comes to performance. With 2 GB of memory and a Qualcomm®
                            Snapdragon™ quad-core processor, you have all the speed you need for games, music, and
                            videos.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-053.jpg" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Exclusive interactions</h4>
                        <p>Only <strong>motorola </strong>phones react to simple gestures to instantly reveal a function
                            or communication you need at that moment. Customize which <strong>moto experiences</strong>
                            you’d like to use by simply visiting the<strong> moto app</strong> on your new phone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-075.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>8 MP camera with autofocus</h4>
                        <p>Capture sharp photos even in low light conditions—and even when there’s no time to focus.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-047.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>All-day battery</h4>
                        <p>Go up to 24 hours on a single charge.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-057.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Fingerprint reader</h4>
                        <p>Never mind remembering a passcode. Your fingerprint unlocks your phone. Availability varies
                            per model.†</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-024.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Water-repellent design</h4>
                        <p>Keep your phone protected from accidental spills and splashes.‡</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-073.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Expandable storage</h4>
                        <p>Make room for more photos, songs, and videos thanks to an additional microSD card slot.§</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-076.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Fast performance</h4>
                        <p>Get all the speed you need with 2 GB of memory and a quad-core processor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>