<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px 10vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">power play</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Go a full day on a single charge, thanks to a 4000 mAh
                    battery. And when it’s time to power up, the 10 W rapid charger gives you a quick burst of power
                    when you need it most.*</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0114.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px 10vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">expansive views</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Unlike traditional displays, the 5.7” Max Vision
                    screen has a unique 18:9 aspect ratio, so you can see more at a glance. Do less scrolling on
                    websites. Get a crazy-wide landscape view of your favorite games. All without sacrificing comfort,
                    thanks to a slim design and a narrow bezel.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0115.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px 10vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">goodbye, blurry photos</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Taking great shots is easy. The 8 MP camera gives you
                    autofocus. It focuses in the blink of an eye and captures bright, clear photos—even in low light
                    conditions.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0116.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px 10vh; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">feel the joy</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With an arched back and a rounded glass front, the
                    compact design is so comfortable to use with just one hand it’ll make you smile. It’s easy on the
                    eyes, too. Aerial lines are hidden away for a smart, clean look.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0117.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">always ready</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">We believe you shouldn’t have to pay premium prices
                    for features that make your phone-life relationship better.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1"
        style="padding: 2vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-068.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Smart, secure fingerprint reader</h4>
                        <p>Touch the fingerprint reader to wake up and unlock your phone instantly, and lock it again
                            when you are done. It is discreetly located within the phone’s iconic logo, so you hardly
                            know it’s there until you use it.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-069.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Exclusive interactions</h4>
                        <p>Only <strong>motorola </strong>phones react to simple gestures to instantly reveal a function
                            or communication you need at that moment. Customise which <strong>moto experiences</strong>
                            you’d like to use by simply visiting the <strong>moto </strong>app on your new phone.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-070.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>You can have it all</h4>
                        <p>Add up to 128 GB more photos, songs, and movies thanks to an extra microSD card slot. Now you
                            don’t have to choose between adding a second SIM card for work or adding more
                            storage.<sup>‡</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-047.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>All-day battery</h4>
                        <p>Go a full day on a single charge with a 4000 mAh battery.*</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-071.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>5.7" Max Vision display</h4>
                        <p>Expansive views with a narrow bezel and a unique 18:9 aspect ratio, all in a slim body.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-056.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>8 MP camera with autofocus</h4>
                        <p>Focus in the blink of an eye and capture bright, clear photos—even in low light conditions.
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-072.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Compact design</h4>
                        <p>With a curved back and rounded glass front, it’s a joy to hold.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-057.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Fingerprint reader</h4>
                        <p>Never mind remembering a passcode. One touch wakes up your phone and unlocks it instantly.
                        </p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-073.svg" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Expandable storage</h4>
                        <p>Make room for more photos, songs, and movies thanks to an extra microSD card
                            slot.<sup>‡</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>