<div id="motorola-description" style="color: rgb(0, 0, 0);">
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">introducing motorola one</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Big screen entertainment. Stunning portrait shots and
                    selfies. All-day battery plus <strong>turbopower™</strong> charging. And the latest upgrades,
                    innovations, and experiences from <strong>motorola </strong>and Google. So you’re always ready.</p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-movie img-absolute" description-version="1.1" data-id="player-0"
        style="padding: 0vh 25px; background: rgb(0, 0, 0); height: 1200px;">
        <div class="md-block-movie-play">
            <p class="md-block-movie-play-text" style="color: rgb(255, 255, 255);">Watch the video</p>
            <button class="md-block-movie-play-btn"><img src="/arquivos/icon_circleplay_100@2x.png" alt="Play"
                    width="100" height="100" class="md-block-movie-play-img"></button>
        </div>
        <img src="/arquivos/pic-1-0102.jpg" alt="" class="md-movie-bg" style="width: 100%;">
        <div class="md-block-movie-player" id="player-0" style="display: none;" data-youtube="7AE_eJJU-pc"></div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 0vh 25px; background: rgb(0, 0, 0);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"></h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0103.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">extraordinary photos</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"><a class="cta-library-wrap Custom-rounded-61032-40742"
                        href="https://www.motorola.com/us/products/motorola-one/camera" target="_self"
                        style="border: 2px solid #ff6a00; background-color: #fff; border-radius: 25px; padding: 8px 25px; font-weight: 500 !important; color: #ff6a00;"><span
                            class="cta-library-label">+ More</span></a></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0104.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">powers work and play</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Go up to a full day on a single charge with the 3000
                    mAh battery. Recharge with <strong>turbopower™</strong> for up to 6 hours of power in just 20
                    minutes.<sup>†</sup></p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0105.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">fresh OS</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Receive upgrades to the latest version of
                    Android.<sup>‡ </sup>You’ll have access to the latest innovations, while knowing your phone is
                    running as smoothly as ever.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0106.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">your phone, fortified</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Protect against online threats with monthly security
                    updates.<sup>‡</sup> Security is built into every layer of Android One to keep your device and
                    personal data safe. Google Play Protect scans and verifies over 50 billion apps each day, using
                    Google’s machine learning to help keep your phone secure.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0107.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">meet your Google Assistant</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">With the Google Assistant, you can get things done
                    using just your voice. Just start with “Ok Google” to get started, then ask it questions and tell it
                    to do things.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0108.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">search what you see</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Use Google Lens to search what you see, get stuff done
                    faster, and interact with the real world.</p>

            </div>
            <div class="col-image" style="margin: 0 -25px;">
                <img src="/arquivos/pic-1-0109.jpg" alt="" class="md-block-info-img img-fluid d-block m-auto">
            </div>
        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">seamless software and app experiences</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-slider pl-0 pr-0" description-version="1.1" style="background: rgb(255, 255, 255);">
        <h2 class="md-h2 text-center" style="color: rgb(0, 0, 0);"></h2>

        <div class="md-slider-box mt-5" data-pager-color="#000">
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0110.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Google Play</strong></p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0111.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Google Duo</strong></p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0112.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Moto Actions</strong></p>
                </div>
            </div>
            <div class="md-slider-item pl-4 pr-4 text-center"><img src="/arquivos/pic-1-0113.jpg" alt=""
                    class="img-fluid">
                <div class="md-slider-details text-center">
                    <p><strong>Moto Display</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1"
        style="padding: 15vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="text-center">
            <div class="col-title" style="padding: 15px 25%;">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">always ready</h2>
                <p class="md-p mt-3" style="color: rgb(0, 0, 0);"></p>

            </div>

        </div>
        <div class="md-item-more-info" style="display: none;">

        </div>
    </div>
    <div class="md-item md-columns-cards" description-version="1.1"
        style="padding: 2vh 25px 0px; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h2 text-center"></h2>

            <div class="md-columns-cards-box row justify-content-center">
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-059.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Performance powerhouse</h4>
                        <p>With 4 GB of memory and a Qualcomm® Snapdragon™ octa-core processor, it responds to your
                            touch in an instant. You’ll feel the difference playing games, watching movies, and doing
                            whatever you need to do.</p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-060.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Room for more</h4>
                        <p>Google Photos gives you free unlimited photo storage.<sup>†††</sup> And with 64 GB of storage
                            on the phone, there’s plenty of room for songs, videos, and movies. Plus, you can add up to
                            256 GB with a microSD card.<sup>§​</sup></p>
                    </div>
                </div>
                <div class="md-card-item col-12 col-md-3 mb-4 mb-sm-0"><img src="/arquivos/icon-061.png" alt=""
                        class="img-fluid">
                    <div class="md-card-details">
                        <h4>Dual SIM technology</h4>
                        <p>Dual SIM cards. One smart phone. Use different SIM cards for different carriers to save
                            money. With dual nano SIM support and 4G LTE connectivity, you’ll stay connected at fast
                            speeds and never miss a beat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-item md-specification" description-version="1.1"
        style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
        <div class="container">
            <h2 class="md-h1">specifications</h2>

            <div class="md-specification-box row">
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-062.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Unlocked for GSM carriers</h4>
                        <p>Get the freedom to switch carriers and plans, but keep your <strong>motorola one</strong>. It
                            is unlocked for GSM carriers like T-Mobile and AT&amp;T. Check with your carrier to confirm
                            compatibility.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-063.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>5.9" Max Vision (19:9) HD+ display</h4>
                        <p>Immerse yourself in games, books, and movies with a stylish glass design you can hold
                            comfortably with just one hand.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-064.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Picture perfect cameras</h4>
                        <p>Get creative with the depth-sensing camera’s new photo features, including cinemagraphs and
                            spot color, and capture stunning selfies with blurred backgrounds.</p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-065.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Blazing-fast charging</h4>
                        <p>Get up to 6 hours of power in just 20 minutes of <strong>turbopower</strong><sup>™</sup>
                            charging.<sup>†</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-066.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Android™ upgrades and built-in security</h4>
                        <p>Receive upgrades to the latest Android<sup>™</sup> OS and be ready with new innovations; and
                            stay ready with monthly security updates that help keep your phone secure.<sup>‡</sup></p>
                    </div>
                </div>
                <div class="md-specification-item col-12 col-sm-6 col-md-4">
                    <div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-067.png" alt=""
                            class="mb-1 d-block" width="50" height="50"></div>
                    <div class="md-specification-border">
                        <h4>Latest AI-powered innovations</h4>
                        <p>Search what you see with Google Lens, get voice-activated help from the Google Assistant, and
                            more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>