<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-block-info md-block-info-top md-more-info-box" description-version="1.1" style="padding: 11vh 25px 5vh; background: rgb(255, 255, 255);">
            <div class="text-center">
                <div class="col-title" style="padding: 15px 25%;">
                    <h2 class="md-h2" style="color: rgb(0, 0, 0);">stereo on the go</h2>
                    <p class="md-p mt-3" style="color: rgb(0, 0, 0);">Snap it onto your <strong>moto z</strong> and press play. No pairing, no cords.<br>Enjoying powerful stereo sound on your smartphone is that simple.</p>
                    
                </div>
                
            </div>
            <div class="md-item-more-info" style="display: none;">

            </div>
        </div><div class="md-item md-cards-3" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);"></h2>
                <p class="md-p" style="color: rgb(0, 0, 0);"></p>
    
                <div class="md-columns-cards-box row justify-content-center"><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0143.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #fff"><h4 style="color: #000"><span style="text-align: center; display: block">Loud and clear</span></h4><p style="color: #000"><span style="text-align: center; display: block">Hands-free speakerphone calls and video chats have better vocal clarity.</span></p></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0144.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #fff"><h4 style="color: #000"><span style="text-align: center; display: block">Immersive audio</span></h4><p style="color: #000"><span style="text-align: center; display: block">The built-in kickstand creates an immersive audio-visual experience so you can kick back and watch a movie.</span></p></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0145.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #fff"><h4 style="color: #000"><span style="text-align: center; display: block">Keep going</span></h4><p style="color: #000"><span style="text-align: center; display: block">Your phone’s battery powers the speaker, so you never need to charge it.</span></p></div></div></div>
            </div>
        </div><div class="md-item md-specification" description-version="1.1" style="padding: 40px 25px 5vh; background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h1">specifications</h2>

                <div class="md-specification-box row"><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-087.svg" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Powerful stereo sound</h4><p>Enjoy music and videos with instantly louder audio and richer bass.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-088.svg" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Built-in kickstand</h4><p>Prop up your phone to experience more immersive music and movies.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-089.svg" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>No charging required</h4><p>Your phone’s battery powers the speaker.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-090.svg" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>No pairing needed</h4><p>Just snap it on and crank up the sound. No hassle.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-091.svg" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Loud and clear speakerphone calls</h4><p>Go hands-free without compromising vocal clarity.</p></div></div><div class="md-specification-item col-12 col-sm-6 col-md-4"><div class="icon" style="min-height: 50px;"><img src="/arquivos/icon-092.svg" alt="" class="mb-1 d-block" width="50" height="50"></div><div class="md-specification-border"><h4>Works on any moto z</h4><p>Get stereo sound, just like that, with any phone in the <a href="https://www.motorola.com/us/products/moto-z-family" style="color:#000000;"><u><strong>moto z family</strong></u></a>.</p></div></div></div>
            </div>
        </div></div>