<div id="motorola-description" style="color: rgb(0, 0, 0);"><div class="md-item md-specification-btn-more" description-version="1.1">
            <div class="md-specification-2-box" style="background: rgb(255, 255, 255);">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-5 align-items-center">
                            <img src="/arquivos/pic-1-0146.jpg" alt="" class="img-fluid md-specification-img">
                        </div>
                        <div class="col-12 col-md-7">
                            <h2 class="md-h2" style="color: rgb(0, 0, 0);">specifications</h2>
                            <p class="md-p" style="color: rgb(0, 0, 0);"></p>

                            <div class="md-specification-box">
                                <div class="row">
                                    <div class="col-12 col-md-6 md-specification-box-col-1"><h5 style="color: rgb(0, 0, 0);">compatible phones</h5><p style="color: rgb(0, 0, 0);"><strong>moto style shells</strong> are compatible with any phone in the <a href="http://www.motorola.com/us/products/moto-z-family"><strong style="color: #0090a6">moto z family</strong></a>.</p><h5 style="color: rgb(0, 0, 0);">moto style shells</h5><p style="color: rgb(0, 0, 0);">Material: Nylon, Weight: 25g to 32g, Dimensions: 154 x 74 x 2 mm, Styles: Herringbone Nylon, Crimson Ballistic Nylon</p><h5 style="color: rgb(0, 0, 0);">experience more in a snap</h5><p class="p1" style="color: rgb(0, 0, 0);"><strong>moto style shells</strong> are just one way to transform your mobile experience with <strong>moto z + moto mods™</strong>. <a href="http://www.motorola.com/us/moto-mods" style="color:#222c30;text-decoration:underline">Learn more</a></p></div>
                                    <div class="col-12 col-md-6 md-specification-box-col-2"><h5 style="color: rgb(0, 0, 0);">swap styles anytime</h5><p class="p1" style="color: rgb(0, 0, 0);">Switch up the design of your phone whenever you want a new look.</p><h5 style="color: rgb(0, 0, 0);">beautifully designed backs</h5><p class="p1" style="margin-bottom: 10px; color: rgb(0, 0, 0);">Transform your phone to fit your style.</p><p class="p1" style="color: rgb(0, 0, 0);">Each <strong>moto style shell</strong> snaps seamlessly onto your <strong>moto z</strong>, weighing in at 25g to 53g, depending on material.</p></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-specification-2-box-more" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 align-items-center">
                            <img src="" alt="" class="img-fluid md-specification-img">
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="md-specification-box">
                                <div class="row">
                                    <div class="col-12 col-md-6 md-specification-box-col-1">
                                        
                                    </div>
                                    <div class="col-12 col-md-6 md-specification-box-col-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="md-item md-cards-3" description-version="1.1" style="background: rgb(255, 255, 255);">
            <div class="container">
                <h2 class="md-h2" style="color: rgb(0, 0, 0);">go beyond your smartphone</h2>
                <p class="md-p" style="color: rgb(0, 0, 0);"></p>
    
                <div class="md-columns-cards-box row justify-content-center"><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0147.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #46c7e1"><h4 style="color: #fff">moto z family</h4><p style="color: #fff">Thinner, lighter, faster premium smartphones that transform to support your interests with Moto Mods.</p><div class="btn-card"><a href="https://www.motorola.com/us/products/moto-z-family" style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a></div></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0148.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #46c7e1"><h4 style="color: #fff">moto mods family</h4><p style="color: #fff">Your phone becomes a movie projector, stereo speaker, battery powerhouse, and more, in a snap.</p><div class="btn-card"><a href="https://www.motorola.com/us/products/moto-mods" style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a></div></div></div><div class="md-card-item col-12 col-md-4 mb-4 mb-sm-0"><img src="/arquivos/pic-1-0149.jpg" alt="" class="img-fluid"><div class="md-card-details" style="background: #46c7e1"><h4 style="color: #fff">moto mod development kit</h4><p style="color: #fff">Dream. Make. Ship. It’s that simple to bring your ideas to life and transform the smartphone in a new way.</p><div class="btn-card"><a href="https://developer.motorola.com/" style="background-color: #fff; border: 1px solid #fff; color: #0090a6;">Learn more</a></div></div></div></div>
            </div>
        </div></div>